Repository iced-rs/iced, pull requests merged in 2022-07, with the labels that each got.

#1376 Fix `Widget::tag` implementation of `pure::Canvas`
  graphics/src/widget/pure/canvas.rs
  lazy/src/pure/component.rs
Labels: bug, widget, canvas

#1378 update `wgpu` to `0.13`
  examples/integration_wgpu/src/main.rs
  examples/integration_wgpu/src/scene.rs
  examples/integration_wgpu/src/shader/frag.wgsl
  examples/integration_wgpu/src/shader/vert.wgsl
  wgpu/Cargo.toml
  wgpu/src/image.rs
  wgpu/src/quad.rs
  wgpu/src/settings.rs
  wgpu/src/shader/blit.wgsl
  wgpu/src/shader/image.wgsl
  wgpu/src/shader/quad.wgsl
  wgpu/src/shader/triangle.wgsl
  wgpu/src/triangle.rs
  wgpu/src/triangle/msaa.rs
  wgpu/src/window/compositor.rs
Labels: improvement, feature, rendering, wgpu

#1373 Update import path in pure canvas example
  graphics/src/widget/pure/canvas.rs
Labels: widget, documentation, canvas

#1358 Fix `arc_to`
  Cargo.toml
  examples/pure/arc/Cargo.toml
  examples/pure/arc/README.md
  examples/pure/arc/src/main.rs
  graphics/src/widget/canvas/path/builder.rs
  style/src/theme/palette.rs
Labels: bug, widget, canvas

#1384 Update `lyon` to `1.0`
  graphics/Cargo.toml
  graphics/src/widget/canvas/frame.rs
  graphics/src/widget/canvas/path.rs
  graphics/src/widget/canvas/path/builder.rs
Labels: improvement, widget, canvas

#1350 Added a paste Event to TextInput
  native/src/widget/text_input.rs
  pure/src/widget/text_input.rs
Labels: feature, widget

#1387 CI improvements
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: improvement
