Repository iced-rs/iced, pull requests merged in 2022-10, with the labels that each got.

#1450 update: match test badge
  README.md
Labels: improvement, documentation

#1305 Expose touch events in canvas widget
  Cargo.toml
  examples/game_of_life/src/main.rs
  examples/multitouch/Cargo.toml
  examples/multitouch/src/main.rs
  graphics/src/widget/canvas.rs
  graphics/src/widget/canvas/event.rs
  src/lib.rs
  src/touch.rs
Labels: feature, widget, shell, canvas

#1331 `is_selected` property for `Radio` `StyleSheet`
  native/src/widget/radio.rs
  style/src/radio.rs
  style/src/theme.rs
  style/src/toggler.rs
Labels: feature, widget, styling

#1458 Fix wgpu README supported backends
  wgpu/README.md
Labels: documentation, wgpu

#1463 Render pane grid titlebar after body
  native/src/widget/pane_grid/content.rs
Labels: improvement

#1496 Fix drop down not closing when inside scrollable
  native/src/widget/pick_list.rs
Labels: bug
