Repository iced-rs/iced, pull requests merged in 2022-02, with the labels that each got.

#1225 Add line dash API
  examples/solar_system/src/main.rs
  graphics/src/widget/canvas.rs
  graphics/src/widget/canvas/frame.rs
  graphics/src/widget/canvas/path.rs
  graphics/src/widget/canvas/stroke.rs
Labels: feature, widget, rendering, canvas

#1231 Allow the creation of a clipboard without a window.
  winit/src/clipboard.rs
Labels: feature, shell

#1262 Fix: overlay layout for `Responsive`
  lazy/src/responsive.rs
Labels: bug

#1219 ContentFit support for images
  core/src/content_fit.rs
  core/src/lib.rs
  examples/tour/src/main.rs
  native/src/lib.rs
  native/src/widget/image.rs
  native/src/widget/svg.rs
  src/lib.rs
Labels: feature, widget, layout, image, svg
