Repository iced-rs/iced, pull requests merged in 2022-12, with the labels that each got.

#1570 Fix custom style of PickList
  style/src/theme.rs
Labels: bug, widget, styling

#1506 non uniform border radius for quads
  examples/custom_quad/Cargo.toml
  examples/custom_quad/src/main.rs
  examples/custom_widget/src/main.rs
  examples/modal/src/main.rs
  glow/src/quad/compatibility.rs
  glow/src/quad/core.rs
  glow/src/shader/compatibility/quad.frag
  glow/src/shader/compatibility/quad.vert
  glow/src/shader/core/quad.frag
  glow/src/shader/core/quad.vert
  graphics/src/layer/quad.rs
  graphics/src/primitive.rs
  graphics/src/renderer.rs
  native/src/element.rs
  native/src/overlay/menu.rs
  native/src/renderer.rs
  native/src/widget/button.rs
  native/src/widget/checkbox.rs
  native/src/widget/container.rs
  native/src/widget/pane_grid.rs
  native/src/widget/pick_list.rs
  native/src/widget/progress_bar.rs
  native/src/widget/radio.rs
  native/src/widget/rule.rs
  native/src/widget/scrollable.rs
  native/src/widget/slider.rs
  native/src/widget/text_input.rs
  native/src/widget/toggler.rs
  wgpu/src/quad.rs
  wgpu/src/shader/quad.wgsl
Labels: feature, widget, rendering, wgpu, styling

#1574 Fix scroller in `Scrollable` always being drawn
  native/src/widget/scrollable.rs
Labels: bug, widget, rendering

#1578 Svg styling
  core/src/color.rs
  examples/svg/src/main.rs
  glow/src/image.rs
  graphics/src/image/vector.rs
  graphics/src/layer.rs
  graphics/src/layer/image.rs
  graphics/src/primitive.rs
  graphics/src/renderer.rs
  native/src/svg.rs
  native/src/widget/helpers.rs
  native/src/widget/svg.rs
  src/widget.rs
  style/src/lib.rs
  style/src/svg.rs
  style/src/theme.rs
  wgpu/src/image.rs
Labels: feature, widget, styling

#1588 add toggle decorations action
  native/src/window/action.rs
  winit/src/application.rs
Labels: feature, shell

#1606 Implement `window::close` action and remove `should_exit`
  glutin/src/application.rs
  native/src/window/action.rs
  src/application.rs
  winit/src/application.rs
  winit/src/window.rs
Labels: feature, shell

#1611 Fix `clippy` lints for Rust 1.66
  core/src/rectangle.rs
  examples/game_of_life/src/main.rs
  native/src/layout/limits.rs
  native/src/widget/image/viewer.rs
  native/src/widget/pane_grid.rs
  native/src/widget/progress_bar.rs
  native/src/widget/scrollable.rs
  native/src/widget/toggler.rs
  wgpu/src/buffer/dynamic.rs
  wgpu/src/triangle.rs
Labels: improvement

#1615 Fix operations for `Responsive` widget
  examples/modal/src/main.rs
  lazy/src/component.rs
  lazy/src/lazy.rs
  lazy/src/responsive.rs
  native/src/element.rs
  native/src/overlay.rs
  native/src/overlay/element.rs
  native/src/user_interface.rs
  native/src/widget.rs
  native/src/widget/button.rs
  native/src/widget/column.rs
  native/src/widget/container.rs
  native/src/widget/pane_grid.rs
  native/src/widget/pane_grid/content.rs
  native/src/widget/pane_grid/title_bar.rs
  native/src/widget/row.rs
  native/src/widget/scrollable.rs
  native/src/widget/text_input.rs
Labels: bug, widget
