Repository iced-rs/iced, pull requests merged in 2022-03, with the labels that each got.

#1270 Skip `Canvas::draw` if `bounds` have no logical pixels
  graphics/src/widget/canvas.rs
Labels: improvement, widget, rendering, canvas

#1264 Add clip to canvas
  graphics/src/widget/canvas/frame.rs
Labels: feature, widget, rendering, canvas

#1290 Fix `canvas::Frame` issuing a new layer for `Mesh2D` in `with_clip`
  graphics/src/widget/canvas/frame.rs
  graphics/src/widget/canvas/geometry.rs
Labels: bug, text, widget, canvas

#1294 Forward overlay() calls in iced_pure::element::Map
  native/src/overlay/element.rs
  native/src/widget/scrollable.rs
  pure/src/element.rs
  pure/src/lib.rs
  pure/src/widget/button.rs
  pure/src/widget/column.rs
  pure/src/widget/pick_list.rs
  pure/src/widget/row.rs
  pure/src/widget/scrollable.rs
  pure/src/widget/text.rs
Labels: improvement

#1286 Slider fix
  native/src/widget/slider.rs
Labels: bug, widget, rendering
