Repository iced-rs/iced, pull requests merged in 2023-06, with the labels that each got.

#1890 Invalidate `Responsive` layout when size changes without a `view` call
  widget/src/lazy/responsive.rs
Labels: bug, widget, layout

#1893 Fix empty scissor rectangle in `iced_wgpu::triangle` pipeline
  wgpu/src/triangle.rs
Labels: bug, rendering

#1892 Add `border_radius` to slider rail
  style/src/slider.rs
  style/src/theme.rs
  widget/src/slider.rs
  widget/src/vertical_slider.rs
Labels: feature, widget, styling

#1888 Introduce `web-colors` feature flag to enable "sRGB linear" blending
  Cargo.toml
  examples/geometry/src/main.rs
  graphics/Cargo.toml
  graphics/src/color.rs
  graphics/src/gradient.rs
  graphics/src/lib.rs
  graphics/src/primitive.rs
  renderer/Cargo.toml
  wgpu/Cargo.toml
  wgpu/src/backend.rs
  wgpu/src/geometry.rs
  wgpu/src/image/atlas.rs
  wgpu/src/layer.rs
  wgpu/src/quad.rs
  wgpu/src/quad/solid.rs
  wgpu/src/text.rs
  wgpu/src/window/compositor.rs
Labels: feature, rendering, web, styling

#1904 Cursor availability
  core/src/element.rs
  core/src/mouse.rs
  core/src/mouse/cursor.rs
  core/src/overlay.rs
  core/src/overlay/element.rs
  core/src/overlay/group.rs
  core/src/widget.rs
  core/src/widget/text.rs
  examples/arc/src/main.rs
  examples/bezier_tool/src/main.rs
  examples/clock/src/main.rs
  examples/color_palette/src/main.rs
  examples/custom_quad/src/main.rs
  examples/custom_widget/src/main.rs
  examples/game_of_life/src/main.rs
  examples/geometry/src/main.rs
  examples/integration/src/main.rs
  examples/modal/src/main.rs
  examples/multitouch/src/main.rs
  examples/pane_grid/src/main.rs
  examples/sierpinski_triangle/src/main.rs
  examples/solar_system/src/main.rs
  examples/toast/src/main.rs
  runtime/src/program/state.rs
  runtime/src/user_interface.rs
  src/lib.rs
  widget/src/button.rs
  widget/src/canvas.rs
  widget/src/canvas/cursor.rs
  widget/src/canvas/program.rs
  widget/src/checkbox.rs
  widget/src/column.rs
  widget/src/container.rs
  widget/src/image.rs
  widget/src/image/viewer.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/mouse_area.rs
  widget/src/overlay/menu.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/draggable.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pick_list.rs
  widget/src/progress_bar.rs
  widget/src/qr_code.rs
  widget/src/radio.rs
  widget/src/row.rs
  widget/src/rule.rs
  widget/src/scrollable.rs
  widget/src/slider.rs
  widget/src/space.rs
  widget/src/svg.rs
  widget/src/text_input.rs
  widget/src/toggler.rs
  widget/src/tooltip.rs
  widget/src/vertical_slider.rs
  winit/src/application.rs
  winit/src/application/state.rs
Labels: bug, feature, widget

#1910 Only scroll w/ wheel if over scrollable
  widget/src/scrollable.rs
Labels: bug, widget

#1719 Nested overlays
  core/src/overlay.rs
  core/src/overlay/element.rs
  core/src/overlay/group.rs
  examples/modal/src/main.rs
  examples/toast/src/main.rs
  runtime/src/lib.rs
  runtime/src/overlay.rs
  runtime/src/overlay/nested.rs
  runtime/src/user_interface.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/overlay/menu.rs
  widget/src/pick_list.rs
Labels: feature, widget, layout

#1917 Make the subscription::channel function take a FnOnce non Sync closure
  futures/src/subscription.rs
Labels: improvement, shell

#1918 Update `glyphon` and `cosmic-text`
  tiny_skia/Cargo.toml
  wgpu/Cargo.toml
  wgpu/src/text.rs
Labels: bug, improvement, text, rendering

#1924 Fix `translation` in `layout` of `Nested` overlay
  runtime/src/overlay/nested.rs
Labels: bug, layout

#1925 Update `ouroboros` dependency
  widget/Cargo.toml
  widget/src/lazy.rs
Labels: bug, improvement, widget

#1928 Fix iced build when using vendored dependencies
  tiny_skia/fonts/Iced-Icons.ttf
  tiny_skia/src/text.rs
Labels: improvement

#1931 Minor grammar correction
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: bug

#1921 Subpixel glyph positioning and layout linearity
  graphics/src/backend.rs
  graphics/src/lib.rs
  graphics/src/renderer.rs
  renderer/src/backend.rs
  tiny_skia/Cargo.toml
  tiny_skia/src/backend.rs
  tiny_skia/src/text.rs
  wgpu/Cargo.toml
  wgpu/src/backend.rs
  wgpu/src/text.rs
Labels: bug, text, layout, rendering

#1845 Feat: Offscreen Rendering & Screenshots
  examples/screenshot/Cargo.toml
  examples/screenshot/src/main.rs
  graphics/src/compositor.rs
  renderer/src/compositor.rs
  runtime/src/window.rs
  runtime/src/window/action.rs
  runtime/src/window/screenshot.rs
  src/lib.rs
  tiny_skia/src/window/compositor.rs
  wgpu/src/color.rs
  wgpu/src/lib.rs
  wgpu/src/triangle/msaa.rs
  wgpu/src/window/compositor.rs
  widget/src/button.rs
  winit/src/application.rs
Labels: feature, rendering, shell

#1885 Small gradient optimization
  graphics/Cargo.toml
  graphics/src/gradient.rs
  wgpu/src/quad/gradient.rs
  wgpu/src/shader/quad.wgsl
  wgpu/src/shader/triangle.wgsl
  wgpu/src/triangle.rs
Labels: improvement, rendering

#1843 fix: quad rendering including border only inside of the bounds
  tiny_skia/src/backend.rs
Labels: bug, rendering

#1878 Minor Scrollable Improvements
  examples/scrollable/src/main.rs
  widget/src/scrollable.rs
Labels: feature, widget

#1934 Reuse entries in `text::Cache`
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/widget/text.rs
  graphics/src/backend.rs
  graphics/src/renderer.rs
  renderer/src/backend.rs
  tiny_skia/src/backend.rs
  tiny_skia/src/text.rs
  wgpu/src/backend.rs
  wgpu/src/text.rs
Labels: bug, text, layout, rendering, wgpu

#1932 Backend-specific primitives
  core/src/renderer.rs
  examples/geometry/Cargo.toml
  examples/geometry/src/main.rs
  examples/loading_spinners/src/circular.rs
  graphics/Cargo.toml
  graphics/src/backend.rs
  graphics/src/damage.rs
  graphics/src/geometry.rs
  graphics/src/gradient.rs
  graphics/src/lib.rs
  graphics/src/mesh.rs
  graphics/src/primitive.rs
  graphics/src/renderer.rs
  renderer/Cargo.toml
  renderer/src/compositor.rs
  renderer/src/geometry.rs
  renderer/src/geometry/cache.rs
  renderer/src/lib.rs
  runtime/src/user_interface.rs
  tiny_skia/Cargo.toml
  tiny_skia/src/backend.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/lib.rs
  tiny_skia/src/primitive.rs
  tiny_skia/src/window/compositor.rs
  wgpu/src/backend.rs
  wgpu/src/geometry.rs
  wgpu/src/layer.rs
  wgpu/src/layer/mesh.rs
  wgpu/src/lib.rs
  wgpu/src/primitive.rs
  wgpu/src/triangle.rs
  wgpu/src/window/compositor.rs
  widget/src/canvas/program.rs
  widget/src/qr_code.rs
Labels: feature, rendering

#1935 Add touch support for toggler.
  widget/src/toggler.rs
Labels: feature, widget

#1913 runtime: Handle widget operations in `program::State` helper
  runtime/src/program/state.rs
Labels: feature, shell

#1938 Text cache modes
  core/src/renderer.rs
  graphics/src/backend.rs
  graphics/src/renderer.rs
  runtime/src/user_interface.rs
  wgpu/src/backend.rs
  wgpu/src/text.rs
Labels: text, performance, layout, rendering
