Repository iced-rs/iced, pull requests merged in 2023-04, with the labels that each got.

#1782 Updating Roadmap.md
  ROADMAP.md
Labels: improvement, documentation

#1779 remove colons from shader labels
  wgpu/src/image.rs
  wgpu/src/quad.rs
  wgpu/src/triangle.rs
  wgpu/src/triangle/msaa.rs
Labels: bug, improvement, wgpu

#1702 Added `Icon` to `text_input`
  examples/tour/fonts/icons.ttf
  examples/tour/src/main.rs
  native/src/widget/checkbox.rs
  native/src/widget/text_input.rs
  src/widget.rs
  style/src/text_input.rs
  style/src/theme.rs
Labels: feature, widget

#1744 Add functionality to make `TextInput` disabled
  core/src/mouse/interaction.rs
  examples/component/src/main.rs
  examples/integration_wgpu/src/controls.rs
  examples/lazy/src/main.rs
  examples/modal/src/main.rs
  examples/qr_code/src/main.rs
  examples/styling/src/main.rs
  examples/toast/src/main.rs
  examples/todos/src/main.rs
  examples/tour/src/main.rs
  examples/websocket/src/main.rs
  native/src/widget/helpers.rs
  native/src/widget/text_input.rs
  style/src/text_input.rs
  style/src/theme.rs
  winit/src/conversion.rs
Labels: feature, widget, styling

#1762 Radio example
  native/src/widget/helpers.rs
  native/src/widget/radio.rs
Labels: widget, documentation

#1590 Add `ChangeIcon` to `window::Action`
  native/Cargo.toml
  native/src/window.rs
  native/src/window/action.rs
  native/src/window/icon.rs
  src/window/icon.rs
  winit/src/application.rs
  winit/src/conversion.rs
  winit/src/settings.rs
  winit/src/window.rs
Labels: feature, shell

#1777 Re-expose winit features for window servers in Linux
  winit/Cargo.toml
Labels: feature, shell

#1788 Don't publish redundant `on_scroll` offsets
  native/src/widget/scrollable.rs
Labels: improvement, performance, widget

#1749 Configurable `width` for `Scrollable`
  native/src/widget/scrollable.rs
Labels: feature, widget

#1789 Update `wgpu` to `0.15`
  examples/integration_wgpu/Cargo.toml
  examples/integration_wgpu/src/main.rs
  wgpu/Cargo.toml
  wgpu/src/image/atlas.rs
  wgpu/src/triangle/msaa.rs
  wgpu/src/window/compositor.rs
Labels: improvement, rendering, wgpu

#1594 `MouseArea` widget
  native/src/widget.rs
  native/src/widget/helpers.rs
  native/src/widget/mouse_area.rs
  src/widget.rs
Labels: feature, widget

#1796 Add `scroll_to` operation
  examples/scrollable/src/main.rs
  native/src/widget/operation/scrollable.rs
  native/src/widget/scrollable.rs
  src/widget.rs
Labels: feature, widget

#1804 Export scroll_to helper
  native/src/widget/scrollable.rs
  src/widget.rs
Labels: feature, widget

#1799 Invalidate responsive layout when shell layout is invalidated
  lazy/src/responsive.rs
Labels: bug, widget

#1807 Wgpu 0.16
  examples/integration_wgpu/src/main.rs
  wgpu/Cargo.toml
  wgpu/src/image/atlas.rs
  wgpu/src/window/compositor.rs
Labels: improvement, rendering, wgpu

#1811 Incremental rendering
  core/src/image.rs
  core/src/rectangle.rs
  core/src/svg.rs
  examples/integration/src/main.rs
  graphics/Cargo.toml
  graphics/src/damage.rs
  graphics/src/lib.rs
  graphics/src/primitive.rs
  graphics/src/renderer.rs
  renderer/src/compositor.rs
  tiny_skia/Cargo.toml
  tiny_skia/src/backend.rs
  tiny_skia/src/primitive.rs
  tiny_skia/src/raster.rs
  tiny_skia/src/text.rs
  tiny_skia/src/vector.rs
  tiny_skia/src/window/compositor.rs
  wgpu/Cargo.toml
  wgpu/src/image/vector.rs
  wgpu/src/settings.rs
  wgpu/src/triangle.rs
  wgpu/src/window/compositor.rs
  widget/src/text_input.rs
Labels: feature, performance, rendering

#1815 Fix broken issue link in `ROADMAP.md`
  ROADMAP.md
Labels: documentation

#1814 Do not require `Copy` for text `StyleSheet::Style`
  core/src/widget/text.rs
  style/src/text.rs
Labels: improvement
