Repository iced-rs/iced, pull requests merged in 2023-08, with the labels that each got.

#1996 Fix `iced_wgpu` freezing on empty layers
  CHANGELOG.md
  wgpu/src/backend.rs
Labels: bug, rendering, wgpu

#1991 cycle `combo_box` with keybinds
  CHANGELOG.md
  widget/src/combo_box.rs
Labels: feature, widget

#2006 Ensure we don't paste while holding ALT
  CHANGELOG.md
  widget/src/text_input.rs
Labels: bug, widget, shell

#2024 fix dead link to `iced_native` in `README.md`
  CHANGELOG.md
  README.md
Labels: improvement, documentation

#2017 Bounds Contains update.
  CHANGELOG.md
  core/src/rectangle.rs
Labels: bug, widget, layout

#2008 Update arc.rs with improved documentation
  CHANGELOG.md
  graphics/src/geometry/path/arc.rs
Labels: improvement, documentation

#2041 Make the style attribute available on Font
  core/src/font.rs
  tiny_skia/src/text.rs
  wgpu/src/text.rs
Labels: improvement, feature, text, rendering
