Repository iced-rs/iced, pull requests merged in 2023-10, with the labels that each got.

#2000 Fix `Command<T>::perform` to return a `Command<T>`
  examples/screenshot/src/main.rs
  runtime/src/command.rs
Labels: developer experience, fix

#2122 Update `wgpu` to `0.18` and `cosmic-text` to `0.10`
  Cargo.toml
  examples/integration/src/scene.rs
  graphics/src/text.rs
  wgpu/src/backend.rs
  wgpu/src/color.rs
  wgpu/src/triangle.rs
  wgpu/src/triangle/msaa.rs
Labels: text, rendering, wgpu, change

#2123 `TextEditor` widget (or multi-line text input)
  .cargo/config.toml
  .github/workflows/document.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Cargo.toml
  core/src/color.rs
  core/src/font.rs
  core/src/layout/limits.rs
  core/src/mouse/click.rs
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/text/editor.rs
  core/src/text/highlighter.rs
  core/src/text/paragraph.rs
  core/src/widget/text.rs
  examples/editor/Cargo.toml
  examples/editor/fonts/icons.ttf
  examples/editor/src/main.rs
  graphics/Cargo.toml
  graphics/src/backend.rs
  graphics/src/damage.rs
  graphics/src/lib.rs
  graphics/src/primitive.rs
  graphics/src/renderer.rs
  graphics/src/text.rs
  graphics/src/text/cache.rs
  graphics/src/text/editor.rs
  graphics/src/text/paragraph.rs
  highlighter/Cargo.toml
  highlighter/src/lib.rs
  renderer/src/lib.rs
  src/lib.rs
  src/settings.rs
  style/src/lib.rs
  style/src/text_editor.rs
  style/src/theme.rs
  tiny_skia/src/backend.rs
  tiny_skia/src/text.rs
  wgpu/src/backend.rs
  wgpu/src/layer.rs
  wgpu/src/layer/text.rs
  wgpu/src/lib.rs
  wgpu/src/text.rs
  widget/src/helpers.rs
  widget/src/lib.rs
  widget/src/pick_list.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  winit/src/application.rs
  winit/src/settings.rs
Labels: feature, text, widget, rendering, addition

#2124 Disable maximize window button if `Settings::resizable` is `false`
  winit/src/settings.rs
Labels: bug, shell, fix
