Repository iced-rs/iced, pull requests merged in 2024-02, with the labels that each got.

#2226 Remove `position` from `overlay::Element`
  core/src/element.rs
  core/src/overlay.rs
  core/src/overlay/element.rs
  core/src/overlay/group.rs
  core/src/widget.rs
  examples/modal/src/main.rs
  examples/toast/src/main.rs
  runtime/src/overlay/nested.rs
  runtime/src/user_interface.rs
  widget/src/button.rs
  widget/src/column.rs
  widget/src/combo_box.rs
  widget/src/container.rs
  widget/src/keyed/column.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/mouse_area.rs
  widget/src/overlay/menu.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pick_list.rs
  widget/src/row.rs
  widget/src/scrollable.rs
  widget/src/themer.rs
  widget/src/tooltip.rs
Labels: improvement, layout, change

#2223 Small fix to the Information struct docs and fix memory info. in the system_information example.
  CHANGELOG.md
  examples/system_information/src/main.rs
  runtime/src/system/information.rs
Labels: bug, shell, fix

#2140 Improve `TextEditor` slow scrolling behavior with touchpads
  CHANGELOG.md
  widget/src/text_editor.rs
Labels: bug, text, widget, fix

#2146 feat: somewhere to place extra actions by platform
  CHANGELOG.md
  runtime/src/command/action.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: feature, shell, addition

#2147 Add mouse move events to MouseArea
  CHANGELOG.md
  widget/src/mouse_area.rs
Labels: feature, widget, addition

#2170 Add Nord, Dracula, Solarized and Gruvbox themes
  CHANGELOG.md
  core/src/color.rs
  examples/styling/src/main.rs
  style/src/theme.rs
  style/src/theme/palette.rs
Labels: feature, styling, addition

#2237 Use `TypeId` to identify `subscription::Map`
  CHANGELOG.md
  futures/src/subscription.rs
Labels: bug, feature, shell, change, fix

#2235 Make the svg function to accept a path
  CHANGELOG.md
  core/src/svg.rs
Labels: feature, svg, addition

#2188 Add doc to direct developers to enable features for iced::time::every
  CHANGELOG.md
  src/lib.rs
  src/time.rs
Labels: documentation, fix

#2200 Provide native window access, via "fetch_native_handle" method on window.
  CHANGELOG.md
  Cargo.toml
  runtime/Cargo.toml
  runtime/src/window.rs
  runtime/src/window/action.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: feature, shell, addition

#2207 Add `Interaction` overriding to `MouseArea`
  CHANGELOG.md
  widget/src/mouse_area.rs
Labels: feature, widget, addition

#2210 tiny_skia: Add a capacity limit to `GlyphCache`
  CHANGELOG.md
  tiny_skia/src/text.rs
Labels: improvement, performance, rendering, change

#2214 Workaround issue with winit on windows not resuming the event loop.
  CHANGELOG.md
  winit/src/application.rs
Labels: bug, shell, fix

#2219 Add border widths to `Toggler` `StyleSheet`
  CHANGELOG.md
  style/src/theme.rs
  style/src/toggler.rs
  widget/src/toggler.rs
Labels: feature, widget, styling, addition

#2220 Use `core::ptr::eq` to speed up `PartialEq` on `image::Bytes`
  CHANGELOG.md
  core/src/image.rs
Labels: improvement, performance, image

#2221 Text editor shrinking to content
  CHANGELOG.md
  core/src/renderer/null.rs
  core/src/text/editor.rs
  examples/editor/src/main.rs
  graphics/src/text/editor.rs
  widget/src/text_editor.rs
Labels: feature, text, widget, layout, addition

#2227 Update Dependencies.
  CHANGELOG.md
  Cargo.toml
  core/src/keyboard/modifiers.rs
  wgpu/Cargo.toml
  winit/src/system.rs
Labels: improvement, change

#2228 Refactor tooltip function to accept a generic element as a tooltip
  CHANGELOG.md
  widget/src/helpers.rs
  widget/src/tooltip.rs
Labels: feature, widget, addition

#2231 Fix alpha mode misconfiguration in wgpu renderer
  CHANGELOG.md
  examples/gradient/Cargo.toml
  examples/gradient/src/main.rs
  examples/solar_system/src/main.rs
  style/src/theme.rs
  wgpu/src/window/compositor.rs
Labels: bug, rendering, shell, wgpu, fix

#2232 Fix dead documentation link in wgpu/README.md
  CHANGELOG.md
  wgpu/README.md
Labels: documentation, fix

#2233 add catppuccin, tokyo night, kanagawa, moonfly, nightfly and oxocarbon themes
  CHANGELOG.md
  style/src/theme.rs
  style/src/theme/palette.rs
Labels: feature, styling, addition

#2247 Fix clipping of text in `iced_tiny_skia`
  graphics/src/text.rs
  tiny_skia/src/backend.rs
Labels: bug, text, rendering, fix

#2239 Introduce an appearance for a scrollable, ability to customize the scrollbar gap.
  CHANGELOG.md
  examples/scrollable/src/main.rs
  style/src/scrollable.rs
  style/src/theme.rs
  widget/src/scrollable.rs
Labels: feature, widget, styling, addition

#2240 Add support for primary clipboard
  CHANGELOG.md
  Cargo.toml
  core/src/clipboard.rs
  runtime/src/clipboard.rs
  src/lib.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  winit/src/application.rs
  winit/src/clipboard.rs
  winit/src/multi_window.rs
Labels: feature, shell, addition

#2242 Implement win32 workaround for multi_window application as well. Also trigger AboutToWait for Moved as well.
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: bug, shell, fix

#2243 Add `show_window_menu` action
  CHANGELOG.md
  runtime/src/window.rs
  runtime/src/window/action.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: feature, shell, addition

#2251 Use `Borrow` for both `options` and `selected` in `PickList`
  CHANGELOG.md
  examples/layout/src/main.rs
  examples/qr_code/src/main.rs
  examples/styling/src/main.rs
  widget/src/helpers.rs
  widget/src/pick_list.rs
Labels: feature, widget, addition

#2252 Add `clip` property to `Container`, `Column`, `Row`, and `Button`
  CHANGELOG.md
  widget/src/button.rs
  widget/src/column.rs
  widget/src/container.rs
  widget/src/row.rs
Labels: feature, text, widget, rendering, addition

#2253 Improve some widget ergonomics
  CHANGELOG.md
  examples/combo_box/src/main.rs
  examples/editor/src/main.rs
  examples/gradient/src/main.rs
  examples/layout/src/main.rs
  examples/lazy/src/main.rs
  examples/modal/src/main.rs
  examples/pane_grid/src/main.rs
  examples/pick_list/src/main.rs
  examples/qr_code/src/main.rs
  examples/screenshot/src/main.rs
  examples/scrollable/src/main.rs
  examples/styling/src/main.rs
  examples/toast/src/main.rs
  examples/tour/src/main.rs
  examples/vectorial_text/src/main.rs
  examples/visible_bounds/src/main.rs
  widget/src/column.rs
  widget/src/helpers.rs
  widget/src/keyed/column.rs
  widget/src/lazy/responsive.rs
  widget/src/row.rs
  widget/src/space.rs
  widget/src/text_input.rs
Labels: improvement, widget, change

#2250 Fix text transparency in tiny_skia renderer
  CHANGELOG.md
  tiny_skia/src/text.rs
Labels: bug, text, rendering, fix

#2259 [wgpu.image] Workaround WGPU OpenGL heuristics
  CHANGELOG.md
  examples/integration/src/main.rs
  wgpu/src/backend.rs
  wgpu/src/image.rs
  wgpu/src/image/atlas.rs
  wgpu/src/window/compositor.rs
Labels: bug, widget, rendering, image, wgpu, fix

#2264 `extend` and `from_vec` methods for `Column` and `Row`
  CHANGELOG.md
  widget/src/column.rs
  widget/src/row.rs
Labels: feature, performance, widget, addition

#2265 Fixed horizontal_space() and vertical_space() helper functions.
  CHANGELOG.md
  widget/src/helpers.rs
Labels: widget, documentation, fix

#2270 Implement `PartialOrd`, `Ord`, and `Hash` for `keyboard::Modifiers`
  .github/workflows/audit.yml
  CHANGELOG.md
  core/src/keyboard/modifiers.rs
Labels: feature, shell, addition

#2271 Fix WebAssembly platform
  Cargo.toml
  examples/tour/index.html
  graphics/Cargo.toml
  graphics/fonts/FiraSans-Regular.ttf
  graphics/src/text.rs
  renderer/Cargo.toml
  wgpu/src/quad/gradient.rs
  wgpu/src/window/compositor.rs
  winit/src/application.rs
Labels: bug, rendering, shell, web, fix

#2238 Decouple `Key` from `keyboard::Modifiers` and apply them to `text` in `KeyboardInput`
  CHANGELOG.md
  winit/src/conversion.rs
Labels: bug, shell, change, fix

#2272 Export `clipboard` module in `advanced` module
  CHANGELOG.md
  src/advanced.rs
Labels: feature, widget, addition

#2273 Default `disabled` style for `checkbox` and `hovered` style for `Svg`
  CHANGELOG.md
  style/src/checkbox.rs
  style/src/svg.rs
Labels: widget, styling, addition

#2274 `From<u16>` and `From<i32>` implementations for `border::Radius`
  CHANGELOG.md
  core/src/border.rs
Labels: styling, addition

#2278 Prioritize text insertion in `TextInput` and `TextEditor`
  CHANGELOG.md
  widget/src/text_editor.rs
  widget/src/text_input.rs
Labels: bug, text, widget, fix

#2280 `fetch_position` command for `window` module
  CHANGELOG.md
  runtime/src/window.rs
  runtime/src/window/action.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: feature, shell, addition

#2282 Fix `iced_tiny_skia` clipping line strokes
  CHANGELOG.md
  tiny_skia/src/backend.rs
Labels: bug, rendering, canvas, fix

#2287 Assert `scrollable` content size never fills scrolling axis
  examples/scrollable/src/main.rs
  widget/src/scrollable.rs
Labels: developer experience, widget, layout, addition

#2295 Ignore `text` in `KeyPressed` with private use chars
  winit/src/conversion.rs
Labels: bug, text, widget, shell, fix

#2299 Add `size_hint` implementation for `Tooltip`
  widget/src/tooltip.rs
Labels: bug, widget, layout, fix

#2298 Fix `Column` and `Row` fluidity being overridden by `push`
  core/src/length.rs
  widget/src/column.rs
  widget/src/keyed/column.rs
  widget/src/row.rs
Labels: bug, widget, layout, fix

#2300 Fix `PaneGrid` mouse interaction when clicking a pane
  widget/src/pane_grid.rs
  widget/src/pane_grid/state.rs
Labels: bug, widget, fix

#2302 Use `application::StyleSheet` colors in `Themer`
  widget/src/helpers.rs
  widget/src/themer.rs
Labels: bug, widget, styling, fix

#2304 Prioritize `TextInput` and `TextEditor` commands over text insertion
  widget/src/text_editor.rs
  widget/src/text_input.rs
Labels: bug, text, widget, fix
