Repository iced-rs/iced, pull requests merged in 2024-05, with the labels that each got.

#2356 Utilize bytes::Bytes for images
  Cargo.toml
  core/Cargo.toml
  core/src/image.rs
  examples/pokedex/src/main.rs
  examples/screenshot/src/main.rs
  graphics/src/image.rs
  runtime/Cargo.toml
  runtime/src/window/screenshot.rs
  tiny_skia/src/raster.rs
  wgpu/src/image/raster.rs
  widget/src/image.rs
  widget/src/image/viewer.rs
Labels: improvement, widget, image, change

#2412 add missing derive(Debug) in lib.rs docs
  src/lib.rs
Labels: documentation, fix

#2420 Fix: grabbing `image::Viewer` from outside the widget
  widget/src/image/viewer.rs
Labels: bug, widget, image, fix

#2334 Adding feature: Image rotation
  core/src/angle.rs
  core/src/content_fit.rs
  core/src/image.rs
  core/src/lib.rs
  core/src/rectangle.rs
  core/src/renderer/null.rs
  core/src/rotation.rs
  core/src/size.rs
  core/src/svg.rs
  core/src/vector.rs
  examples/ferris/Cargo.toml
  examples/ferris/src/main.rs
  graphics/src/image.rs
  renderer/src/fallback.rs
  src/lib.rs
  tiny_skia/src/engine.rs
  tiny_skia/src/layer.rs
  tiny_skia/src/lib.rs
  tiny_skia/src/vector.rs
  wgpu/src/image/mod.rs
  wgpu/src/layer.rs
  wgpu/src/lib.rs
  wgpu/src/shader/image.wgsl
  widget/src/image.rs
  widget/src/image/viewer.rs
  widget/src/svg.rs
Labels: feature, widget, layout, rendering, image, wgpu, addition

#2423 Introduce `center` widget helper
  examples/checkbox/src/main.rs
  examples/combo_box/src/main.rs
  examples/component/src/main.rs
  examples/custom_quad/src/main.rs
  examples/custom_shader/src/main.rs
  examples/custom_widget/src/main.rs
  examples/download_progress/src/main.rs
  examples/editor/src/main.rs
  examples/events/src/main.rs
  examples/exit/src/main.rs
  examples/ferris/src/main.rs
  examples/geometry/src/main.rs
  examples/layout/src/main.rs
  examples/loading_spinners/src/main.rs
  examples/loupe/src/main.rs
  examples/modal/src/main.rs
  examples/multi_window/src/main.rs
  examples/pane_grid/src/main.rs
  examples/pokedex/src/main.rs
  examples/qr_code/src/main.rs
  examples/screenshot/src/main.rs
  examples/scrollable/src/main.rs
  examples/slider/src/main.rs
  examples/stopwatch/src/main.rs
  examples/styling/src/main.rs
  examples/svg/src/main.rs
  examples/system_information/src/main.rs
  examples/toast/src/main.rs
  examples/todos/src/main.rs
  examples/tooltip/src/main.rs
  examples/tour/src/main.rs
  examples/url_handler/src/main.rs
  examples/websocket/src/main.rs
  tiny_skia/src/engine.rs
  tiny_skia/src/lib.rs
  wgpu/src/lib.rs
  widget/src/container.rs
  widget/src/helpers.rs
Labels: feature, invalid, developer experience, widget, change, addition

#2424 Introduce dynamic `opacity` support for `Image` and `Svg`
  core/src/image.rs
  core/src/renderer/null.rs
  core/src/svg.rs
  examples/ferris/src/main.rs
  graphics/src/image.rs
  renderer/src/fallback.rs
  tiny_skia/src/engine.rs
  tiny_skia/src/layer.rs
  tiny_skia/src/lib.rs
  tiny_skia/src/raster.rs
  tiny_skia/src/vector.rs
  wgpu/src/image/mod.rs
  wgpu/src/layer.rs
  wgpu/src/lib.rs
  wgpu/src/shader/image.wgsl
  widget/src/image.rs
  widget/src/image/viewer.rs
  widget/src/svg.rs
Labels: feature, widget, rendering, image, svg, addition

#2428 Introduce `ICED_PRESENT_MODE` env var to pick a `wgpu::PresentMode`
  wgpu/src/settings.rs
  wgpu/src/window/compositor.rs
Labels: feature, rendering, wgpu, addition

#2427 Update `winit` to `0.30`
  .github/workflows/check.yml
  Cargo.toml
  examples/integration/README.md
  examples/integration/index.html
  examples/integration/src/main.rs
  src/application.rs
  wgpu/src/lib.rs
  winit/Cargo.toml
  winit/src/application.rs
  winit/src/conversion.rs
  winit/src/multi_window.rs
  winit/src/multi_window/window_manager.rs
Labels: improvement, shell, change

#2430 Reuse `glyphon::Pipeline` state in `iced_wgpu`
  Cargo.toml
  wgpu/src/lib.rs
  wgpu/src/text.rs
Labels: improvement, text, rendering, wgpu, change

#2435 Add `SpecificWith` variant to `window::Position`
  core/src/window/position.rs
  winit/src/conversion.rs
Labels: feature, shell, addition

#2440 Align images to the (logical) pixel grid in `iced_wgpu`
  wgpu/src/shader/image.wgsl
Labels: bug, widget, rendering, image, wgpu, svg, fix

#2441 Ask for explicit `Length` in `center_*` methods
  examples/editor/src/main.rs
  examples/geometry/src/main.rs
  examples/layout/src/main.rs
  examples/multi_window/src/main.rs
  examples/pane_grid/src/main.rs
  examples/screenshot/src/main.rs
  examples/slider/src/main.rs
  examples/svg/src/main.rs
  examples/system_information/src/main.rs
  examples/todos/src/main.rs
  examples/tour/src/main.rs
  widget/src/container.rs
  widget/src/helpers.rs
Labels: improvement, developer experience, widget, layout, change

#2442 Fix(infinite list): move visible elements when an update occurs offscreen before them
  widget/src/list.rs
Labels: bug, widget, layout, fix

#2338 Introduce `text` macro
  examples/custom_quad/src/main.rs
  examples/custom_widget/src/main.rs
  examples/download_progress/src/main.rs
  examples/events/src/main.rs
  examples/game_of_life/src/main.rs
  examples/integration/src/controls.rs
  examples/lazy/src/main.rs
  examples/loading_spinners/src/main.rs
  examples/pane_grid/src/main.rs
  examples/pokedex/src/main.rs
  examples/screenshot/src/main.rs
  examples/sierpinski_triangle/src/main.rs
  examples/stopwatch/src/main.rs
  examples/system_information/src/main.rs
  examples/toast/src/main.rs
  examples/todos/src/main.rs
  examples/tour/src/main.rs
  examples/vectorial_text/src/main.rs
  widget/src/helpers.rs
Labels: feature, text, developer experience, widget, addition

#2449 Add viewport scale to screenshot data
  runtime/src/window/screenshot.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: feature, rendering, addition
