Repository iced-rs/iced, pull requests merged in 2024-01, with the labels that each got.

#2172 Added `text_shaping` method to `Tooltip`
  widget/src/tooltip.rs
Labels: feature, text, widget, addition

#2168 [Fix] `PaneGrid` click interaction on the top edge
  widget/src/pane_grid.rs
  widget/src/pane_grid/state.rs
Labels: bug, widget, fix

#2182 Remove unused backend.rs file in renderer crate
  renderer/src/backend.rs
Labels: improvement

#2184 Fix docs to include missing feature tags
  widget/src/lazy/helpers.rs
Labels: widget, documentation, fix

#2189 Add functions to fetch if a window is maximized or minimized
  core/src/window/event.rs
  runtime/src/window.rs
  runtime/src/window/action.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: feature, shell, addition

#2196 Fix `grapheme_position` when ligatures are present
  graphics/src/text/paragraph.rs
Labels: bug, text, widget, fix

#2158 Introduce `RawText` to `Primitive` in `iced_graphics`
  graphics/src/damage.rs
  graphics/src/primitive.rs
  graphics/src/text.rs
  tiny_skia/src/backend.rs
  tiny_skia/src/text.rs
  wgpu/src/layer.rs
  wgpu/src/layer/text.rs
  wgpu/src/text.rs
Labels: feature, text, rendering, wgpu, addition

#2199 Fix clipping of `TextInput` selection
  widget/src/text_input.rs
Labels: bug, text, widget, rendering, fix

#2203 Update `glyphon` to `0.4`
  Cargo.toml
  examples/editor/Cargo.toml
  graphics/src/text.rs
  tiny_skia/src/text.rs
Labels: improvement, text, widget, rendering, change

#2169 Update `winit` to `0.29`
  .github/workflows/audit.yml
  .github/workflows/document.yml
  Cargo.toml
  core/Cargo.toml
  core/src/keyboard.rs
  core/src/keyboard/event.rs
  core/src/keyboard/key.rs
  core/src/keyboard/key_code.rs
  core/src/keyboard/location.rs
  core/src/lib.rs
  core/src/mouse/button.rs
  core/src/time.rs
  examples/editor/src/main.rs
  examples/integration/src/main.rs
  examples/layout/src/main.rs
  examples/loading_spinners/src/circular.rs
  examples/loading_spinners/src/linear.rs
  examples/modal/src/main.rs
  examples/pane_grid/src/main.rs
  examples/screenshot/src/main.rs
  examples/stopwatch/src/main.rs
  examples/toast/src/main.rs
  examples/todos/src/main.rs
  futures/src/keyboard.rs
  src/lib.rs
  widget/src/canvas/event.rs
  widget/src/combo_box.rs
  widget/src/shader/event.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  winit/src/application.rs
  winit/src/application/state.rs
  winit/src/conversion.rs
  winit/src/multi_window.rs
  winit/src/multi_window/state.rs
Labels: bug, shell, change, fix

#2204 Vectorial text reloaded
  examples/vectorial_text/Cargo.toml
  examples/vectorial_text/src/main.rs
  graphics/src/geometry/text.rs
  tiny_skia/src/backend.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/primitive.rs
  wgpu/src/geometry.rs
Labels: bug, feature, text, widget, rendering, canvas, addition, fix

#2163 added svg hover, for styles impl
  style/src/svg.rs
  style/src/theme.rs
  widget/src/svg.rs
Labels: feature, widget, svg, styling, addition

#2191 Update `wgpu` to `0.19`, `glyphon` to `0.5`, `softbuffer` to `0.4`, `window-clipboard` to `0.4`, and `raw-window-handle` to `0.6`
  Cargo.toml
  core/Cargo.toml
  examples/custom_shader/src/scene/pipeline.rs
  examples/integration/src/main.rs
  futures/src/lib.rs
  futures/src/maybe.rs
  futures/src/maybe_send.rs
  graphics/Cargo.toml
  graphics/src/compositor.rs
  graphics/src/lib.rs
  renderer/Cargo.toml
  renderer/src/compositor.rs
  tiny_skia/Cargo.toml
  tiny_skia/src/window/compositor.rs
  wgpu/Cargo.toml
  wgpu/src/window/compositor.rs
  winit/src/application.rs
  winit/src/clipboard.rs
  winit/src/multi_window.rs
  winit/src/multi_window/window_manager.rs
Labels: improvement, rendering, shell, wgpu, change

#2099 Compute vertex positions in the shader
  wgpu/src/image.rs
  wgpu/src/quad.rs
  wgpu/src/quad/gradient.rs
  wgpu/src/quad/solid.rs
  wgpu/src/shader/image.wgsl
  wgpu/src/shader/quad/gradient.wgsl
  wgpu/src/shader/quad/solid.wgsl
  wgpu/src/shader/vertex.wgsl
Labels: improvement, rendering, wgpu, change

#1882 Quad shadows
  core/src/border.rs
  core/src/element.rs
  core/src/lib.rs
  core/src/renderer.rs
  core/src/shadow.rs
  examples/custom_quad/src/main.rs
  examples/custom_widget/src/main.rs
  examples/loading_spinners/src/linear.rs
  examples/modal/src/main.rs
  examples/pane_grid/src/main.rs
  examples/scrollable/src/main.rs
  graphics/src/damage.rs
  graphics/src/primitive.rs
  graphics/src/renderer.rs
  src/lib.rs
  style/src/button.rs
  style/src/checkbox.rs
  style/src/container.rs
  style/src/menu.rs
  style/src/pane_grid.rs
  style/src/pick_list.rs
  style/src/progress_bar.rs
  style/src/rule.rs
  style/src/scrollable.rs
  style/src/slider.rs
  style/src/text_editor.rs
  style/src/text_input.rs
  style/src/theme.rs
  tiny_skia/src/backend.rs
  wgpu/src/layer.rs
  wgpu/src/quad.rs
  wgpu/src/quad/solid.rs
  wgpu/src/shader/quad.wgsl
  wgpu/src/shader/quad/solid.wgsl
  widget/src/button.rs
  widget/src/checkbox.rs
  widget/src/container.rs
  widget/src/overlay/menu.rs
  widget/src/pane_grid.rs
  widget/src/pick_list.rs
  widget/src/progress_bar.rs
  widget/src/radio.rs
  widget/src/rule.rs
  widget/src/scrollable.rs
  widget/src/slider.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/toggler.rs
  widget/src/vertical_slider.rs
Labels: feature, rendering, styling

#2211 feat(window): adds skip_taskbar for windows
  core/src/window/settings/windows.rs
  winit/src/conversion.rs
Labels: feature, shell, addition

#2215 Add cut functionality to text editor
  widget/src/text_editor.rs
Labels: feature, text, widget, addition

#1940 Fix/scrollable touch input stuck
  CHANGELOG.md
  widget/src/scrollable.rs
Labels: widget, fix

#1994 Add return values to ```Frame::with_clip()``` and ```Frame::with_save()```
  CHANGELOG.md
  renderer/src/geometry.rs
  wgpu/src/geometry.rs
Labels: developer experience, widget, canvas, change

#2100 Enhance `Slider` and `VerticalSlider` functionality
  CHANGELOG.md
  examples/slider/src/main.rs
  widget/src/slider.rs
  widget/src/vertical_slider.rs
Labels: feature, widget, addition

#2224 Call size_hint from Map
  core/src/element.rs
Labels: bug, widget, fix

#2225 Call size_hint from Explain
  core/src/element.rs
Labels: bug, widget, fix
