Repository iced-rs/iced, pull requests merged in 2024-08, with the labels that each got.

#2507 update version of "web-sys" to 0.3.69
  Cargo.toml
Labels: improvement, web, wgpu, change, fix

#2537 `image` and `svg` support for `canvas`
  core/src/image.rs
  core/src/lib.rs
  core/src/rectangle.rs
  core/src/renderer/null.rs
  core/src/svg.rs
  examples/screenshot/src/main.rs
  examples/solar_system/Cargo.toml
  examples/solar_system/assets/earth.png
  examples/solar_system/assets/moon.png
  examples/solar_system/assets/sun.png
  examples/solar_system/src/main.rs
  graphics/Cargo.toml
  graphics/src/geometry.rs
  graphics/src/geometry/frame.rs
  graphics/src/image.rs
  renderer/src/fallback.rs
  tiny_skia/Cargo.toml
  tiny_skia/src/engine.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/layer.rs
  tiny_skia/src/lib.rs
  wgpu/Cargo.toml
  wgpu/src/geometry.rs
  wgpu/src/image/mod.rs
  wgpu/src/layer.rs
  wgpu/src/lib.rs
  wgpu/src/shader/image.wgsl
  widget/src/canvas.rs
  widget/src/image.rs
  widget/src/image/viewer.rs
  widget/src/svg.rs
Labels: feature, widget, rendering, image, wgpu, svg, addition

#2539 Implement `row::Wrapping` widget
  core/src/layout/node.rs
  examples/layout/src/main.rs
  widget/src/row.rs
Labels: feature, widget, layout, addition

#2544 Display top contents in `hover` widget when focused
  core/src/element.rs
  core/src/overlay.rs
  core/src/overlay/element.rs
  core/src/overlay/group.rs
  core/src/widget.rs
  core/src/widget/operation.rs
  core/src/widget/operation/focusable.rs
  examples/toast/src/main.rs
  runtime/src/lib.rs
  runtime/src/multi_window/state.rs
  runtime/src/overlay/nested.rs
  runtime/src/program/state.rs
  runtime/src/user_interface.rs
  widget/src/button.rs
  widget/src/column.rs
  widget/src/container.rs
  widget/src/helpers.rs
  widget/src/keyed/column.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/mouse_area.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/row.rs
  widget/src/scrollable.rs
  widget/src/stack.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/themer.rs
Labels: feature, widget, addition

#2536 text_editor: Avoid rendering text outside the border
  core/src/rectangle.rs
  examples/editor/src/main.rs
  widget/src/text_editor.rs
Labels: bug, text, widget, rendering, fix

#2547 iced_winit: drop Clipboard before Window
  examples/integration/src/main.rs
  winit/src/clipboard.rs
  winit/src/program.rs
Labels: bug, shell, fix

#2555 Add compact variant for pane grid controls
  examples/pane_grid/src/main.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/controls.rs
  widget/src/pane_grid/title_bar.rs
Labels: feature, widget, layout, addition

#2535 Implement `align_x` for `TextInput`
  examples/todos/src/main.rs
  widget/src/text_input.rs
Labels: feature, text, widget, layout, addition
