Repository iced-rs/iced, pull requests merged in 2024-04, with the labels that each got.

#2360 Use generic `Content` in `Text` to avoid reallocation in `fill_text`
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/text/paragraph.rs
  graphics/src/renderer.rs
  graphics/src/text/paragraph.rs
  renderer/src/fallback.rs
  widget/src/checkbox.rs
  widget/src/overlay/menu.rs
  widget/src/pick_list.rs
  widget/src/text_input.rs
Labels: text, performance, rendering, fix

#2362 Use `Iterator::size_hint` to initialize `Column` and `Row` capacity
  widget/src/column.rs
  widget/src/keyed/column.rs
  widget/src/row.rs
Labels: feature, performance, addition

#2363 Specialize `widget::text` helper
  core/src/widget/text.rs
  examples/lazy/src/main.rs
  examples/tour/src/main.rs
  examples/websocket/src/echo.rs
  examples/websocket/src/main.rs
  widget/src/helpers.rs
Labels: feature, text, performance, addition

#2364 combo_box: Do not draw empty menu overlay
  widget/src/combo_box.rs
Labels: bug, widget, fix

#2366 Check is_secure before a copy/cut from TextInput
  widget/src/text_input.rs
Labels: bug, widget, fix

#2376 Add stronger guarantee of readability/contrast for palette background/text color pairs
  core/src/theme/palette.rs
Labels: bug, styling, fix

#2377 Use built-in `[lints]` table in `Cargo.toml`
  .cargo/config.toml
  Cargo.toml
  benches/wgpu.rs
  core/Cargo.toml
  core/src/lib.rs
  futures/Cargo.toml
  futures/src/lib.rs
  graphics/Cargo.toml
  graphics/src/lib.rs
  graphics/src/text/cache.rs
  highlighter/Cargo.toml
  highlighter/src/lib.rs
  renderer/Cargo.toml
  renderer/src/fallback.rs
  renderer/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  src/lib.rs
  tiny_skia/Cargo.toml
  tiny_skia/src/backend.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/lib.rs
  tiny_skia/src/raster.rs
  tiny_skia/src/text.rs
  tiny_skia/src/vector.rs
  tiny_skia/src/window/compositor.rs
  wgpu/Cargo.toml
  wgpu/src/lib.rs
  widget/Cargo.toml
  widget/src/lib.rs
  winit/Cargo.toml
  winit/src/lib.rs
Labels: improvement, change

#2379 Use `pkg-config` instead `pkgconfig`
  DEPENDENCIES.md
Labels: developer experience, documentation, fix

#2380 Remove extra Download struct from dowload_progress example
  examples/download_progress/src/download.rs
Labels: improvement, subscription, change

#2389 Implement backpressure mechanism for `iced_winit::Proxy`
  futures/src/backend/native/tokio.rs
  winit/src/application.rs
  winit/src/multi_window.rs
  winit/src/proxy.rs
Labels: bug, performance, subscription, fix

#2386 Allow checking whether a `TextEditor` is focused
  widget/src/text_editor.rs
Labels: feature, text, widget, addition

#2393 Fix typo in icon.rs
  src/window/icon.rs
Labels: bug, documentation, fix

#2397 Don't consume unused scroll events
  widget/src/scrollable.rs
Labels: bug, widget, fix

#2403 Make image `Cache` eviction strategy less aggressive in `iced_wgpu`
  wgpu/src/image/atlas.rs
  wgpu/src/image/atlas/allocator.rs
  wgpu/src/image/atlas/layer.rs
  wgpu/src/image/mod.rs
  wgpu/src/image/raster.rs
  wgpu/src/image/vector.rs
Labels: improvement, performance, image, wgpu, change

#2405 `Stack` widget
  core/src/layout.rs
  core/src/mouse/interaction.rs
  core/src/overlay.rs
  core/src/widget.rs
  examples/bezier_tool/src/main.rs
  examples/loupe/src/main.rs
  examples/modal/src/main.rs
  runtime/src/multi_window/state.rs
  runtime/src/program/state.rs
  widget/src/helpers.rs
  widget/src/image/viewer.rs
  widget/src/lib.rs
  widget/src/mouse_area.rs
  widget/src/scrollable.rs
  widget/src/stack.rs
  winit/src/conversion.rs
  winit/src/multi_window/window_manager.rs
Labels: feature, widget, layout, addition

#2406 Capture scrollbar events in a `scrollable` before content events
  widget/src/scrollable.rs
Labels: bug, widget, fix

#2407 Fix some `text_editor` quirks
  graphics/src/text/editor.rs
  widget/src/text_editor.rs
Labels: bug, text, widget, layout, fix

#2408 `hover` widget
  examples/bezier_tool/src/main.rs
  widget/src/helpers.rs
Labels: feature, widget, layout, addition

#2409 Retain caches in `iced_wgpu` as long as `Rc` values are alive
  examples/the_matrix/Cargo.toml
  examples/the_matrix/src/main.rs
  wgpu/src/text.rs
  wgpu/src/triangle.rs
Labels: improvement, performance, wgpu, canvas, change

#2415 `canvas::Cache` Grouping
  examples/clock/Cargo.toml
  examples/clock/src/main.rs
  examples/the_matrix/Cargo.toml
  examples/the_matrix/src/main.rs
  graphics/src/cache.rs
  graphics/src/cached.rs
  graphics/src/geometry.rs
  graphics/src/geometry/cache.rs
  graphics/src/lib.rs
  renderer/src/fallback.rs
  tiny_skia/src/geometry.rs
  wgpu/src/geometry.rs
  wgpu/src/text.rs
  wgpu/src/triangle.rs
  widget/src/canvas.rs
Labels: feature, performance, widget, canvas, addition
