Repository iced-rs/iced, pull requests merged in 2024-03, with the labels that each got.

#2308 Remove complex cross-axis layout logic from `Column` and `Row`
  core/src/layout/flex.rs
  examples/layout/src/main.rs
Labels: improvement, layout

#2313 Fix `block_on` in `iced_wgpu` hanging Wasm builds
  futures/src/backend/wasm/wasm_bindgen.rs
  graphics/src/compositor.rs
  renderer/src/compositor.rs
  src/application.rs
  tiny_skia/src/window/compositor.rs
  wgpu/src/window/compositor.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: bug, web, fix

#2316 fix: make pane_grid appearance items visible to others.
  widget/src/pane_grid.rs
Labels: bug, widget, styling, fix

#2317 fix some comments
  core/src/background.rs
  core/src/widget/text.rs
  examples/integration/README.md
  examples/integration/src/main.rs
  graphics/src/error.rs
  wgpu/src/shader/quad.wgsl
  widget/src/image/viewer.rs
Labels: improvement, documentation, fix

#2320 Use integer coordinates for input caret
  widget/src/text_editor.rs
  widget/src/text_input.rs
Labels: bug, text, rendering, fix

#2322 Fix scrollbar dragged state after release left mouse button
  widget/src/scrollable.rs
Labels: bug, widget, fix

#2324 Implement setter for filter_method property of viewer
  widget/src/image/viewer.rs
Labels: feature, widget, image, addition

#2326 Use closures for widget styling
  core/src/widget/text.rs
  examples/checkbox/src/main.rs
  examples/component/src/main.rs
  examples/gradient/src/main.rs
  examples/svg/src/main.rs
  widget/src/button.rs
  widget/src/checkbox.rs
  widget/src/combo_box.rs
  widget/src/container.rs
  widget/src/helpers.rs
  widget/src/overlay/menu.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pick_list.rs
  widget/src/progress_bar.rs
  widget/src/qr_code.rs
  widget/src/radio.rs
  widget/src/rule.rs
  widget/src/scrollable.rs
  widget/src/slider.rs
  widget/src/svg.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/toggler.rs
  widget/src/tooltip.rs
  widget/src/vertical_slider.rs
Labels: improvement, feature, widget, styling, addition

#2327 Fix wgpu examples link in issue template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: documentation, fix

#2331 `Program` API
  README.md
  core/src/angle.rs
  examples/arc/src/main.rs
  examples/bezier_tool/src/main.rs
  examples/checkbox/src/main.rs
  examples/clock/src/main.rs
  examples/color_palette/src/main.rs
  examples/combo_box/src/main.rs
  examples/component/src/main.rs
  examples/counter/src/main.rs
  examples/custom_quad/src/main.rs
  examples/custom_shader/src/main.rs
  examples/custom_widget/src/main.rs
  examples/download_progress/src/main.rs
  examples/events/src/main.rs
  examples/exit/src/main.rs
  examples/geometry/src/main.rs
  examples/layout/src/main.rs
  examples/lazy/src/main.rs
  examples/loading_spinners/src/main.rs
  examples/loupe/src/main.rs
  examples/multitouch/src/main.rs
  examples/pane_grid/src/main.rs
  examples/pick_list/src/main.rs
  examples/pokedex/src/main.rs
  examples/progress_bar/src/main.rs
  examples/qr_code/src/main.rs
  examples/screenshot/src/main.rs
  examples/scrollable/src/main.rs
  examples/sierpinski_triangle/src/main.rs
  examples/slider/src/main.rs
  examples/solar_system/src/main.rs
  examples/stopwatch/src/main.rs
  examples/styling/src/main.rs
  examples/svg/src/main.rs
  examples/system_information/src/main.rs
  examples/tooltip/src/main.rs
  examples/tour/src/main.rs
  examples/url_handler/src/main.rs
  examples/vectorial_text/src/main.rs
  renderer/src/geometry.rs
  src/lib.rs
  src/program.rs
  src/settings.rs
  tiny_skia/src/geometry.rs
  wgpu/src/geometry.rs
  widget/src/tooltip.rs
Labels: feature, developer experience, addition

#2329 feat: added Ferra theme
  core/src/theme.rs
  core/src/theme/palette.rs
Labels: feature, styling, addition

#2342 Target `#iced` container by default on Wasm
  Cargo.toml
  core/src/window/settings/wasm.rs
Labels: bug, shell, web, change

#2343 Introduce `auto-detect-theme` feature
  Cargo.toml
  core/Cargo.toml
  core/src/theme.rs
Labels: feature, shell, styling, addition

#2344 Fix empty `wgpu` draw calls in `image` pipeline
  wgpu/src/image.rs
Labels: bug, widget, rendering, image, wgpu, fix

#2341 Allow using the premultiplied alpha wgpu compositor mode
  wgpu/src/window/compositor.rs
Labels: feature, rendering, shell, wgpu, addition

#2351 Type-Driven Renderer Fallback
  Cargo.toml
  core/src/element.rs
  core/src/image.rs
  core/src/renderer.rs
  core/src/renderer/null.rs
  core/src/size.rs
  core/src/svg.rs
  examples/bezier_tool/src/main.rs
  examples/game_of_life/src/main.rs
  examples/geometry/src/main.rs
  examples/loading_spinners/src/circular.rs
  examples/sierpinski_triangle/src/main.rs
  examples/solar_system/src/main.rs
  graphics/src/backend.rs
  graphics/src/cached.rs
  graphics/src/compositor.rs
  graphics/src/error.rs
  graphics/src/geometry.rs
  graphics/src/geometry/cache.rs
  graphics/src/geometry/frame.rs
  graphics/src/lib.rs
  graphics/src/mesh.rs
  graphics/src/renderer.rs
  graphics/src/settings.rs
  renderer/Cargo.toml
  renderer/src/compositor.rs
  renderer/src/fallback.rs
  renderer/src/geometry.rs
  renderer/src/geometry/cache.rs
  renderer/src/lib.rs
  runtime/src/program.rs
  runtime/src/user_interface.rs
  src/application.rs
  src/lib.rs
  src/multi_window.rs
  src/program.rs
  tiny_skia/src/backend.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/primitive.rs
  tiny_skia/src/settings.rs
  tiny_skia/src/window/compositor.rs
  wgpu/Cargo.toml
  wgpu/src/backend.rs
  wgpu/src/geometry.rs
  wgpu/src/primitive.rs
  wgpu/src/primitive/pipeline.rs
  wgpu/src/settings.rs
  wgpu/src/window/compositor.rs
  widget/src/canvas.rs
  widget/src/canvas/program.rs
  widget/src/image.rs
  widget/src/image/viewer.rs
  widget/src/qr_code.rs
  widget/src/svg.rs
  winit/src/application.rs
  winit/src/multi_window.rs
Labels: feature, widget, rendering, shell, wgpu, canvas, addition

#2350 Theming Revolutions
  Cargo.toml
  core/src/widget/text.rs
  examples/component/src/main.rs
  examples/gradient/src/main.rs
  examples/layout/src/main.rs
  examples/pane_grid/src/main.rs
  examples/scrollable/src/main.rs
  examples/svg/src/main.rs
  examples/toast/src/main.rs
  widget/Cargo.toml
  widget/src/button.rs
  widget/src/checkbox.rs
  widget/src/combo_box.rs
  widget/src/container.rs
  widget/src/helpers.rs
  widget/src/overlay/menu.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pick_list.rs
  widget/src/progress_bar.rs
  widget/src/qr_code.rs
  widget/src/radio.rs
  widget/src/rule.rs
  widget/src/scrollable.rs
  widget/src/slider.rs
  widget/src/svg.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/themer.rs
  widget/src/toggler.rs
  widget/src/tooltip.rs
  widget/src/vertical_slider.rs
Labels: feature, widget, styling, change, addition

#2354 Fix quad shadows
  tiny_skia/src/backend.rs
  wgpu/src/shader/quad/solid.wgsl
Labels: bug, rendering, styling, fix

#2357 Use a `StagingBelt` in `iced_wgpu` for regular buffer uploads
  Cargo.toml
  core/Cargo.toml
  core/src/hasher.rs
  graphics/Cargo.toml
  graphics/src/text/cache.rs
  tiny_skia/Cargo.toml
  wgpu/src/backend.rs
  wgpu/src/buffer.rs
  wgpu/src/image.rs
  wgpu/src/quad.rs
  wgpu/src/quad/gradient.rs
  wgpu/src/quad/solid.rs
  wgpu/src/text.rs
  wgpu/src/triangle.rs
  wgpu/src/window/compositor.rs
Labels: performance, rendering, wgpu
