Repository iced-rs/iced, pull requests merged in 2024-07, with the labels that each got.

#2492 Hide internal `Task` constructors
  runtime/src/clipboard.rs
  runtime/src/font.rs
  runtime/src/lib.rs
  runtime/src/task.rs
  runtime/src/window.rs
  widget/src/container.rs
  widget/src/helpers.rs
  widget/src/scrollable.rs
  widget/src/text_input.rs
  winit/src/program.rs
  winit/src/system.rs
Labels: improvement, developer experience, change

#2493 Hide `Subscription` internals
  examples/download_progress/src/download.rs
  examples/websocket/src/echo.rs
  examples/websocket/src/main.rs
  futures/src/backend/native/async_std.rs
  futures/src/backend/native/smol.rs
  futures/src/backend/native/tokio.rs
  futures/src/backend/wasm/wasm_bindgen.rs
  futures/src/lib.rs
  futures/src/stream.rs
  futures/src/subscription.rs
  src/advanced.rs
  src/lib.rs
  winit/src/program.rs
Labels: improvement, feature, developer experience, change, addition

#2321 Add "Select All" functionality on Ctrl+A to TextEditor
  core/src/text/editor.rs
  graphics/src/text/editor.rs
  widget/src/text_editor.rs
Labels: feature, text, widget, addition

#2496 Abortable `Task`
  runtime/src/task.rs
  src/lib.rs
Labels: feature, addition

#2497 Introduce `stream::try_channel` helper
  futures/src/stream.rs
Labels: feature, addition

#2498 Add `iced` widget helper to display the iced logo :comet:
  examples/slider/Cargo.toml
  examples/slider/src/main.rs
  widget/Cargo.toml
  widget/assets/iced-logo.svg
  widget/src/helpers.rs
  widget/src/slider.rs
  widget/src/vertical_slider.rs
Labels: feature, widget, svg, addition

#2499 Add `align_x` and `align_y` helpers to `Scrollable`
  widget/src/scrollable.rs
Labels: feature, widget, addition

#2488 doc: remove extraneous comment
  widget/src/scrollable.rs
Labels: documentation, fix

#2500 Add some built-in text styles for each `Palette` color
  core/src/widget/text.rs
Labels: feature, text, widget, addition

#2502 Add `on_press_with` method for `Button`
  widget/src/button.rs
Labels: feature, widget, addition

#2503 Add `abort_on_drop` to `task::Handle`
  runtime/src/task.rs
Labels: feature, addition

#2505 Add `resize_events` subscription to `window` module
  core/src/window/event.rs
  runtime/src/window.rs
  winit/src/conversion.rs
Labels: shell, change, addition

#2416 Update `cosmic-text` and `resvg`
  Cargo.toml
  graphics/src/geometry/text.rs
  graphics/src/text/cache.rs
  graphics/src/text/editor.rs
  graphics/src/text/paragraph.rs
  tiny_skia/src/engine.rs
  tiny_skia/src/text.rs
  tiny_skia/src/vector.rs
  wgpu/src/image/vector.rs
  wgpu/src/text.rs
Labels: improvement, text, change

#2508 `rich_text` and `markdown` widgets
  Cargo.toml
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/text/paragraph.rs
  core/src/widget/text.rs
  examples/editor/src/main.rs
  examples/markdown/Cargo.toml
  examples/markdown/overview.md
  examples/markdown/src/main.rs
  graphics/src/text.rs
  graphics/src/text/paragraph.rs
  highlighter/src/lib.rs
  widget/Cargo.toml
  widget/src/helpers.rs
  widget/src/lib.rs
  widget/src/markdown.rs
  widget/src/pick_list.rs
  widget/src/scrollable.rs
  widget/src/text.rs
  widget/src/text/rich.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
Labels: feature, text, widget, addition

#2512 Add `Link` support to `rich_text` widget
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/text/paragraph.rs
  examples/markdown/Cargo.toml
  examples/markdown/src/main.rs
  graphics/src/text/paragraph.rs
  widget/src/helpers.rs
  widget/src/markdown.rs
  widget/src/text/rich.rs
Labels: feature, text, widget, addition

#2522 Custom key binding support for `text_editor`
  widget/src/text_editor.rs
Labels: feature, text, widget, addition

#2516 Add background styling to span / rich text
  core/src/renderer/null.rs
  core/src/size.rs
  core/src/text.rs
  core/src/text/paragraph.rs
  graphics/src/text/paragraph.rs
  widget/src/markdown.rs
  widget/src/text/rich.rs
Labels: feature, text, widget, rendering, addition

#2526 Underline support for `rich_text`
  core/src/text.rs
  widget/src/text/rich.rs
Labels: feature, text, widget, rendering, styling, addition

#2528 Strikethrough support for `rich_text`
  core/src/text.rs
  widget/src/markdown.rs
  widget/src/text/rich.rs
Labels: feature, text, widget, rendering, styling, addition

#2531 Snap `Quad` lines to the pixel grid in `iced_wgpu`
  wgpu/src/shader/quad/solid.wgsl
Labels: bug, widget, rendering, fix
