Repository iced-rs/iced, pull requests merged in 2024-11, with the labels that each got.

#2663 Update `wgpu` to `23.0`
  Cargo.toml
  examples/custom_shader/src/scene/pipeline.rs
  examples/integration/src/scene.rs
  wgpu/src/color.rs
  wgpu/src/image/mod.rs
  wgpu/src/quad/gradient.rs
  wgpu/src/quad/solid.rs
  wgpu/src/triangle.rs
  wgpu/src/triangle/msaa.rs
Labels: improvement, rendering, wgpu, change

#2662 Reactive Rendering
  Cargo.toml
  core/src/element.rs
  core/src/layout/flex.rs
  core/src/overlay.rs
  core/src/overlay/element.rs
  core/src/overlay/group.rs
  core/src/shell.rs
  core/src/widget.rs
  examples/bezier_tool/src/main.rs
  examples/game_of_life/src/main.rs
  examples/loading_spinners/src/circular.rs
  examples/loading_spinners/src/linear.rs
  examples/multi_window/Cargo.toml
  examples/multitouch/src/main.rs
  examples/sierpinski_triangle/src/main.rs
  examples/toast/src/main.rs
  runtime/src/overlay/nested.rs
  runtime/src/user_interface.rs
  widget/src/action.rs
  widget/src/button.rs
  widget/src/canvas.rs
  widget/src/canvas/event.rs
  widget/src/canvas/program.rs
  widget/src/checkbox.rs
  widget/src/column.rs
  widget/src/combo_box.rs
  widget/src/container.rs
  widget/src/helpers.rs
  widget/src/image/viewer.rs
  widget/src/keyed/column.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/lib.rs
  widget/src/mouse_area.rs
  widget/src/overlay/menu.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pick_list.rs
  widget/src/radio.rs
  widget/src/row.rs
  widget/src/scrollable.rs
  widget/src/shader.rs
  widget/src/shader/event.rs
  widget/src/shader/program.rs
  widget/src/slider.rs
  widget/src/stack.rs
  widget/src/text/rich.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/text_input/cursor.rs
  widget/src/themer.rs
  widget/src/toggler.rs
  widget/src/tooltip.rs
  widget/src/vertical_slider.rs
  winit/Cargo.toml
  winit/src/program.rs
  winit/src/program/state.rs
  winit/src/program/window_manager.rs
Labels: feature, performance, widget, rendering, shell, change, addition

#2668 Fix docs of `Scrollable::with_direction` and `Scrollable::direction`
  widget/src/scrollable.rs
Labels: documentation, fix

#2672 Remove `surface` argument of `Compositor::screenshot`
  graphics/src/compositor.rs
  renderer/src/fallback.rs
  tiny_skia/src/window/compositor.rs
  wgpu/src/window/compositor.rs
  winit/src/program.rs
Labels: improvement, rendering, wgpu, change

#2673 `pin` widget
  examples/layout/src/main.rs
  widget/src/helpers.rs
  widget/src/lib.rs
  widget/src/pin.rs
Labels: feature, widget, layout, addition
