Repository iced-rs/iced, pull requests merged in 2024-09, with the labels that each got.

#2261 Add a colored variant for Container style
  widget/src/container.rs
Labels: feature, styling, addition

#2279 Add `text::Wrapping` support
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/text/editor.rs
  core/src/text/paragraph.rs
  core/src/widget/text.rs
  examples/editor/src/main.rs
  examples/styling/src/main.rs
  examples/tour/src/main.rs
  graphics/src/text.rs
  graphics/src/text/editor.rs
  graphics/src/text/paragraph.rs
  wgpu/src/lib.rs
  widget/src/checkbox.rs
  widget/src/helpers.rs
  widget/src/overlay/menu.rs
  widget/src/pick_list.rs
  widget/src/radio.rs
  widget/src/text/rich.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/toggler.rs
Labels: feature, text, widget, layout, addition

#2285 add option for undecorated_shadow on windows
  core/src/window/settings/windows.rs
  winit/src/conversion.rs
Labels: feature, shell, addition

#2284 Add command for setting mouse passthrough
  runtime/src/window.rs
  winit/src/program.rs
Labels: feature, shell, addition

#2289 feature doc to Component trait
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/helpers.rs
  widget/src/lazy/responsive.rs
  widget/src/lib.rs
Labels: widget, documentation, fix

#2549 Remove out of date comment from custom-widget example
  examples/custom_widget/src/main.rs
Labels: documentation, fix

#2390 Text input maybe
  widget/src/text_input.rs
Labels: feature, widget, addition

#2401 Scroll Transactions
  widget/src/scrollable.rs
Labels: feature, widget, addition

#2392 Enable horizontal scrolling without shift modifier
  widget/src/scrollable.rs
Labels: feature, widget, addition

#2414 Add `mouse::Button` to `mouse::Click`
  core/src/mouse/click.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
Labels: improvement, change

#2419 Support wasm target for `download_progress`
  examples/download_progress/Cargo.toml
  examples/download_progress/index.html
  examples/download_progress/src/download.rs
  examples/download_progress/src/main.rs
Labels: feature, documentation, addition

#2438 Notify `scrollable::Viewport` changes
  widget/src/scrollable.rs
Labels: feature, widget, addition

#2443 Render border above active progress for progress_bar widget.
  widget/src/progress_bar.rs
Labels: bug, widget, fix

#2444 Improve slider widget styling.
  widget/src/slider.rs
  widget/src/vertical_slider.rs
Labels: feature, widget, styling, addition

#2450 Add `on_scroll` handler to `mouse_area` widget
  widget/src/mouse_area.rs
Labels: feature, widget, addition

#2473 Add `stroke_rectangle` to `canvas::Frame`
  graphics/src/geometry/frame.rs
  renderer/src/fallback.rs
  tiny_skia/src/geometry.rs
  wgpu/src/geometry.rs
Labels: feature, performance, widget, canvas, addition

#2476 Add `override_redirect` for X11 windows
  core/src/window/settings/linux.rs
  winit/src/conversion.rs
Labels: feature, shell, addition

#2478 Add disabled state to `toggler` widget
  examples/editor/src/main.rs
  examples/styling/src/main.rs
  examples/tour/src/main.rs
  widget/src/helpers.rs
  widget/src/toggler.rs
Labels: feature, widget, styling, change, addition

#2484 wgpu: Fix “radii” typo
  wgpu/src/shader/quad.wgsl
Labels: improvement, fix

#2486 Add `Color::parse`
  core/src/color.rs
Labels: feature, developer experience, styling, addition

#2491 rounded rectangle graphics
  graphics/src/geometry/path.rs
  graphics/src/geometry/path/builder.rs
Labels: feature, widget, canvas, addition

#2513 feat: add width setter for Text-Editor widget
  widget/src/text_editor.rs
Labels: feature, text, widget, addition

#2514 Fix priority of `Binding::Delete` in `text_editor`
  widget/src/text_editor.rs
Labels: bug, text, widget, fix

#2517 Fix division by zero in `multitouch` example
  examples/multitouch/src/main.rs
Labels: documentation, fix

#2575 Remove `Clone` bound for `graphics::Cache::clear`
  graphics/src/cache.rs
Labels: improvement, performance

#2576 Add `physical_key` and `modified_key` to `keyboard::Event`
  core/src/keyboard/event.rs
  core/src/keyboard/key.rs
  winit/src/conversion.rs
Labels: feature, shell, addition

#2534 Add `on_open` handler to `combo_box` widget
  widget/src/combo_box.rs
Labels: feature, widget, addition

#2551 Expose additional `mouse::Interaction` cursors
  core/src/mouse/interaction.rs
  winit/src/conversion.rs
Labels: feature, shell, addition

#2556 Document how the state of a `Component` can be managed
  widget/src/lazy/component.rs
Labels: improvement, documentation

#2560 Initialize `fontdb` for `svg` rendering
  tiny_skia/src/vector.rs
  wgpu/src/image/vector.rs
Labels: bug, text, widget, svg, fix

#2565 slider: handle mouse wheel events
  widget/src/slider.rs
  widget/src/vertical_slider.rs
Labels: feature, widget, addition

#2574 Fix `wasm32` deployments not displaying anything
  winit/Cargo.toml
  winit/src/program.rs
Labels: bug, rendering, shell, web, fix

#2578 Fix unnecessary COM initialization on Windows
  winit/src/program.rs
Labels: bug, shell, fix

#2582 Implement some `From` traits for `text_input::Id`
  core/src/window/id.rs
  examples/multi_window/src/main.rs
  examples/todos/Cargo.toml
  examples/todos/src/main.rs
  widget/src/text_input.rs
Labels: feature, widget, addition

#2583 Fix scrolling direction with trackpad in `scrollable`
  widget/src/scrollable.rs
Labels: bug, widget, fix

#2584 Fix `scrollable` transactions when `on_scroll` is not set
  widget/src/scrollable.rs
Labels: bug, widget, fix

#2579 Add rust-version.
  .github/workflows/test.yml
  Cargo.toml
  widget/src/markdown.rs
Labels: improvement, developer experience, addition

#2587 Add widget examples to API reference and update `README`
  ECOSYSTEM.md
  README.md
  core/src/widget/text.rs
  futures/src/subscription.rs
  src/lib.rs
  widget/src/button.rs
  widget/src/canvas.rs
  widget/src/checkbox.rs
  widget/src/column.rs
  widget/src/combo_box.rs
  widget/src/container.rs
  widget/src/helpers.rs
  widget/src/image.rs
  widget/src/keyed.rs
  widget/src/keyed/column.rs
  widget/src/markdown.rs
  widget/src/pane_grid.rs
  widget/src/pick_list.rs
  widget/src/progress_bar.rs
  widget/src/qr_code.rs
  widget/src/radio.rs
  widget/src/row.rs
  widget/src/rule.rs
  widget/src/scrollable.rs
  widget/src/slider.rs
  widget/src/svg.rs
  widget/src/text.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/toggler.rs
  widget/src/tooltip.rs
  widget/src/vertical_slider.rs
Labels: widget, documentation, addition, fix

#2586 Set the text color determined by the style function
  widget/src/text_editor.rs
Labels: bug, text, widget, styling, fix

#2588 Add `must_use` attribute to `Task`
  futures/src/subscription.rs
  runtime/src/task.rs
Labels: improvement, developer experience, addition

#2510 Update `wgpu` to `22.0`
  Cargo.toml
  benches/wgpu.rs
  examples/custom_shader/src/scene/pipeline.rs
  examples/integration/src/main.rs
  examples/integration/src/scene.rs
  renderer/Cargo.toml
  wgpu/Cargo.toml
  wgpu/src/color.rs
  wgpu/src/image/mod.rs
  wgpu/src/quad/gradient.rs
  wgpu/src/quad/solid.rs
  wgpu/src/triangle.rs
  wgpu/src/triangle/msaa.rs
  wgpu/src/window/compositor.rs
Labels: improvement, rendering, wgpu, change

#2592 Drop short-hand notation support for `color!` macro
  core/src/color.rs
Labels: bug, styling, fix

#2593 Move `wgpu` re-export to root module
  examples/custom_shader/src/main.rs
  src/lib.rs
  widget/src/shader.rs
Labels: performance, documentation, fix

#2594 Fix documentation for open_events()
  runtime/src/window.rs
Labels: shell, documentation, fix

#2596 Fix layout for wrapped row with spacing
  widget/src/row.rs
Labels: bug, widget, layout, fix

#2599 Replace `Rc` with `Arc` for `markdown` caching
  widget/src/markdown.rs
Labels: improvement, widget, change

#2598 Fix flex layout of `Fill` elements in a `Shrink` cross axis
  core/src/layout/flex.rs
  examples/layout/src/main.rs
Labels: bug, widget, layout, fix

#2601 always increment solid/gradient count in wgpu mesh rendering
  wgpu/src/triangle.rs
Labels: bug, fix

#2605 Include images and saved meshes when pasting `Frame`
  tiny_skia/src/geometry.rs
  wgpu/src/geometry.rs
Labels: bug, widget, wgpu, canvas, fix

#2602 Add support for double click event to MouseArea
  widget/src/mouse_area.rs
Labels: feature, widget, addition
