Repository iced-rs/iced, pull requests merged in 2025-05, with the labels that each got.

#2916 `float` widget and other cool stuff
  beacon/src/client.rs
  beacon/src/lib.rs
  beacon/src/span.rs
  benches/wgpu.rs
  core/src/element.rs
  core/src/overlay.rs
  core/src/transformation.rs
  core/src/widget.rs
  debug/src/lib.rs
  devtools/src/comet.rs
  examples/clock/src/main.rs
  examples/color_palette/src/main.rs
  examples/gallery/src/main.rs
  examples/game_of_life/src/main.rs
  examples/toast/src/main.rs
  examples/vectorial_text/src/main.rs
  graphics/src/geometry/frame.rs
  graphics/src/geometry/text.rs
  graphics/src/text.rs
  graphics/src/text/cache.rs
  graphics/src/text/paragraph.rs
  renderer/src/fallback.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/text.rs
  wgpu/src/geometry.rs
  wgpu/src/image/null.rs
  wgpu/src/layer.rs
  wgpu/src/lib.rs
  wgpu/src/text.rs
  widget/src/button.rs
  widget/src/column.rs
  widget/src/container.rs
  widget/src/float.rs
  widget/src/grid.rs
  widget/src/helpers.rs
  widget/src/image.rs
  widget/src/keyed/column.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/lib.rs
  widget/src/mouse_area.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pin.rs
  widget/src/pop.rs
  widget/src/row.rs
  widget/src/scrollable.rs
  widget/src/stack.rs
  widget/src/themer.rs
  widget/src/tooltip.rs
Labels: feature, widget, layout, rendering, canvas, addition

#2919 [Fix] GL backend interpreting atlas texture as cube map vs 2d tex array when atlas layer depth == 6
  wgpu/src/image/atlas.rs
Labels: bug, rendering, wgpu, fix

#2925 Fix `quad` shader blending
  wgpu/src/quad.rs
  wgpu/src/quad/gradient.rs
  wgpu/src/quad/solid.rs
  wgpu/src/shader/color.wgsl
  wgpu/src/shader/quad/gradient.wgsl
  wgpu/src/shader/quad/solid.wgsl
  wgpu/src/shader/triangle/gradient.wgsl
  wgpu/src/shader/triangle/solid.wgsl
  wgpu/src/triangle.rs
Labels: bug, rendering, wgpu, styling, fix

#2944 Generic key for `pop` widget
  examples/markdown/src/main.rs
  widget/src/helpers.rs
  widget/src/pop.rs
Labels: feature, widget, addition

#2962 Consistent primitive pixel snapping in `iced_wgpu`
  core/src/image.rs
  core/src/rectangle.rs
  examples/styling/snapshots/catppuccin_frappé-tiny-skia.sha256
  examples/styling/snapshots/catppuccin_latte-tiny-skia.sha256
  examples/styling/snapshots/catppuccin_macchiato-tiny-skia.sha256
  examples/styling/snapshots/catppuccin_mocha-tiny-skia.sha256
  examples/styling/snapshots/dark-tiny-skia.sha256
  examples/styling/snapshots/dracula-tiny-skia.sha256
  examples/styling/snapshots/ferra-tiny-skia.sha256
  examples/styling/snapshots/gruvbox_dark-tiny-skia.sha256
  examples/styling/snapshots/gruvbox_light-tiny-skia.sha256
  examples/styling/snapshots/kanagawa_dragon-tiny-skia.sha256
  examples/styling/snapshots/kanagawa_lotus-tiny-skia.sha256
  examples/styling/snapshots/kanagawa_wave-tiny-skia.sha256
  examples/styling/snapshots/light-tiny-skia.sha256
  examples/styling/snapshots/moonfly-tiny-skia.sha256
  examples/styling/snapshots/nightfly-tiny-skia.sha256
  examples/styling/snapshots/nord-tiny-skia.sha256
  examples/styling/snapshots/oxocarbon-tiny-skia.sha256
  examples/styling/snapshots/solarized_dark-tiny-skia.sha256
  examples/styling/snapshots/solarized_light-tiny-skia.sha256
  examples/styling/snapshots/tokyo_night-tiny-skia.sha256
  examples/styling/snapshots/tokyo_night_light-tiny-skia.sha256
  examples/styling/snapshots/tokyo_night_storm-tiny-skia.sha256
  wgpu/src/image/mod.rs
  wgpu/src/shader/image.wgsl
  wgpu/src/shader/quad/gradient.wgsl
  wgpu/src/shader/quad/solid.wgsl
  widget/src/image.rs
  widget/src/image/viewer.rs
  widget/src/toggler.rs
Labels: bug, rendering, wgpu, change, fix

#2966 Fix Rectangle::is_within inconsistency
  core/src/rectangle.rs
Labels: bug, rendering, fix

#2964 Fix text damage calculation on tiny skia
  graphics/src/text.rs
Labels: bug, rendering, fix
