Repository iced-rs/iced, pull requests merged in 2025-04, with the labels that each got.

#2839 get rid of palette dependency in iced-core
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/color.rs
  core/src/theme/palette.rs
  examples/color_palette/Cargo.toml
  examples/color_palette/src/main.rs
Labels: improvement, developer experience, styling, change

#2841 don't pull in `futures-executor` when it's not the default executor
  Cargo.lock
  Cargo.toml
  examples/download_progress/Cargo.toml
  examples/gallery/Cargo.toml
  examples/integration/Cargo.toml
  examples/todos/Cargo.toml
  examples/todos/src/main.rs
  examples/websocket/Cargo.toml
  futures/Cargo.toml
  futures/src/backend/default.rs
  futures/src/backend/native.rs
  futures/src/backend/native/async_std.rs
  futures/src/backend/null.rs
  futures/src/runtime.rs
  graphics/src/compositor.rs
  runtime/Cargo.toml
  runtime/src/task.rs
  src/lib.rs
  src/time.rs
  winit/src/program.rs
Labels: improvement, developer experience, shell, change

#2880 Update `cosmic-text` to `0.14`
  Cargo.lock
  Cargo.toml
  graphics/src/geometry/text.rs
  graphics/src/settings.rs
  graphics/src/text/cache.rs
  graphics/src/text/editor.rs
  graphics/src/text/paragraph.rs
Labels: improvement, text, rendering, change

#2686 Fixed rendering in chromium
  wgpu/src/window/compositor.rs
Labels: bug, web, wgpu, fix

#2881 Presentation metrics for `comet`
  Cargo.lock
  beacon/src/lib.rs
  beacon/src/span.rs
  debug/src/lib.rs
  devtools/src/lib.rs
  tiny_skia/Cargo.toml
  tiny_skia/src/lib.rs
  wgpu/Cargo.toml
  wgpu/src/lib.rs
Labels: feature, performance, developer experience, rendering, addition

#2883 Fix WebGL WGPU crash
  wgpu/src/shader/blit.wgsl
  wgpu/src/triangle/msaa.rs
Labels: bug, web, wgpu, fix

#2885 `grid` widget
  examples/gallery/Cargo.toml
  examples/gallery/src/main.rs
  widget/src/grid.rs
  widget/src/helpers.rs
  widget/src/lib.rs
  widget/src/scrollable.rs
Labels: feature, widget, layout, addition

#2896 fix number of rows in grid when evenly distributed
  widget/src/grid.rs
Labels: bug, widget, layout, fix

#2901 Indent and Unindent Text Editor Actions
  core/src/text/editor.rs
  graphics/src/text/editor.rs
Labels: text, addition

#2903 Floating Images
  core/src/element.rs
  core/src/overlay.rs
  core/src/overlay/element.rs
  core/src/overlay/group.rs
  core/src/rectangle.rs
  core/src/widget.rs
  examples/gallery/src/main.rs
  examples/toast/src/main.rs
  runtime/src/overlay/nested.rs
  runtime/src/user_interface.rs
  widget/src/button.rs
  widget/src/column.rs
  widget/src/combo_box.rs
  widget/src/container.rs
  widget/src/grid.rs
  widget/src/helpers.rs
  widget/src/image.rs
  widget/src/keyed/column.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/mouse_area.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pick_list.rs
  widget/src/pin.rs
  widget/src/pop.rs
  widget/src/row.rs
  widget/src/scrollable.rs
  widget/src/stack.rs
  widget/src/themer.rs
  widget/src/tooltip.rs
Labels: feature, widget, image, styling, addition

#2905 fix combo-box panic after 6034a0c
  widget/src/combo_box.rs
Labels: bug, widget, fix

#2910 Time Travel Debugging
  Cargo.lock
  Cargo.toml
  beacon/src/client.rs
  beacon/src/error.rs
  beacon/src/lib.rs
  beacon/src/span.rs
  core/src/animation.rs
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/theme.rs
  debug/Cargo.toml
  debug/src/lib.rs
  devtools/Cargo.toml
  devtools/src/comet.rs
  devtools/src/executor.rs
  devtools/src/lib.rs
  devtools/src/time_machine.rs
  examples/arc/src/main.rs
  examples/clock/src/main.rs
  examples/gallery/src/main.rs
  examples/markdown/src/main.rs
  examples/multitouch/src/main.rs
  examples/solar_system/src/main.rs
  examples/the_matrix/src/main.rs
  examples/todos/Cargo.toml
  futures/src/subscription.rs
  program/Cargo.toml
  program/src/lib.rs
  renderer/src/fallback.rs
  src/application.rs
  src/application/timed.rs
  src/daemon.rs
  src/lib.rs
  tiny_skia/src/lib.rs
  wgpu/src/lib.rs
  winit/src/lib.rs
Labels: feature, developer experience, shell, addition

#2911 Add `min_size` method to `PaneGrid`
  widget/src/pane_grid.rs
  widget/src/pane_grid/axis.rs
  widget/src/pane_grid/node.rs
  widget/src/pane_grid/state.rs
Labels: feature, widget, layout, addition
