Repository iced-rs/iced, pull requests merged in 2025-02, with the labels that each got.

#2776 Incremental `markdown` parsing and various fixes
  Cargo.lock
  examples/markdown/Cargo.toml
  examples/markdown/src/main.rs
  highlighter/src/lib.rs
  widget/Cargo.toml
  widget/src/container.rs
  widget/src/markdown.rs
  widget/src/scrollable.rs
  widget/src/stack.rs
  widget/src/text/rich.rs
  widget/src/text_editor.rs
Labels: bug, improvement, feature, performance, widget, change, addition, fix

#2769 Add a flake for a dev shell
  DEPENDENCIES.md
Labels: improvement, developer experience, addition

#2777 Input Method Support
  core/src/event.rs
  core/src/input_method.rs
  core/src/lib.rs
  core/src/shell.rs
  core/src/text.rs
  core/src/text/paragraph.rs
  core/src/window/redraw_request.rs
  runtime/src/user_interface.rs
  widget/src/action.rs
  widget/src/canvas.rs
  widget/src/combo_box.rs
  widget/src/lazy/component.rs
  widget/src/pane_grid.rs
  widget/src/scrollable.rs
  widget/src/shader.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  winit/src/conversion.rs
  winit/src/program.rs
  winit/src/program/window_manager.rs
Labels: feature, text, widget, accessibility, addition

#2782 don't try to draw empty meshes in wgpu
  wgpu/src/lib.rs
Labels: bug, rendering, wgpu, fix

#2781 Take `Event` by reference in `Widget::update`
  core/src/element.rs
  core/src/overlay.rs
  core/src/overlay/element.rs
  core/src/overlay/group.rs
  core/src/widget.rs
  examples/bezier_tool/src/main.rs
  examples/game_of_life/src/main.rs
  examples/loading_spinners/src/circular.rs
  examples/loading_spinners/src/linear.rs
  examples/multitouch/src/main.rs
  examples/sierpinski_triangle/src/main.rs
  examples/toast/src/main.rs
  runtime/src/overlay/nested.rs
  runtime/src/user_interface.rs
  widget/src/button.rs
  widget/src/canvas.rs
  widget/src/canvas/program.rs
  widget/src/checkbox.rs
  widget/src/column.rs
  widget/src/combo_box.rs
  widget/src/container.rs
  widget/src/helpers.rs
  widget/src/image/viewer.rs
  widget/src/keyed/column.rs
  widget/src/lazy.rs
  widget/src/lazy/component.rs
  widget/src/lazy/responsive.rs
  widget/src/mouse_area.rs
  widget/src/overlay/menu.rs
  widget/src/pane_grid.rs
  widget/src/pane_grid/content.rs
  widget/src/pane_grid/title_bar.rs
  widget/src/pick_list.rs
  widget/src/pin.rs
  widget/src/pop.rs
  widget/src/radio.rs
  widget/src/row.rs
  widget/src/scrollable.rs
  widget/src/shader.rs
  widget/src/shader/program.rs
  widget/src/slider.rs
  widget/src/stack.rs
  widget/src/text/rich.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/themer.rs
  widget/src/toggler.rs
  widget/src/tooltip.rs
  widget/src/vertical_slider.rs
Labels: improvement, widget, change

#2785 Remove the placeholder text when IME is activated in text input
  widget/src/text_input.rs
Labels: bug, text, widget, accessibility, fix

#2786 Customizable Markdown Rendering and Image Support
  Cargo.lock
  core/src/lib.rs
  core/src/padding.rs
  core/src/pixels.rs
  examples/changelog/src/main.rs
  examples/markdown/Cargo.toml
  examples/markdown/build.rs
  examples/markdown/fonts/markdown-icons.toml
  examples/markdown/fonts/markdown-icons.ttf
  examples/markdown/src/icon.rs
  examples/markdown/src/main.rs
  src/lib.rs
  widget/src/helpers.rs
  widget/src/markdown.rs
  widget/src/pop.rs
  widget/src/text/rich.rs
Labels: feature, text, widget, image, styling, addition

#2795 Request redraw in image viewer update
  widget/src/image/viewer.rs
Labels: bug, widget, image, fix

#2796 Add blurhash to gallery
  Cargo.lock
  Cargo.toml
  core/src/animation.rs
  core/src/length.rs
  core/src/pixels.rs
  examples/gallery/Cargo.toml
  examples/gallery/src/civitai.rs
  examples/gallery/src/main.rs
  examples/scrollable/src/main.rs
  examples/tour/src/main.rs
Labels: improvement, styling, addition

#2804 add unfocus operation
  core/src/widget/operation/focusable.rs
Labels: feature, widget, addition

#2798 Fix the preedit text placement on scrolled content
  widget/src/scrollable.rs
Labels: bug, widget, shell, accessibility, fix

#2805 `sipper` support and some QoL
  Cargo.lock
  Cargo.toml
  core/src/element.rs
  core/src/lib.rs
  examples/download_progress/src/download.rs
  examples/download_progress/src/main.rs
  examples/gallery/Cargo.toml
  examples/gallery/src/civitai.rs
  examples/gallery/src/main.rs
  examples/game_of_life/src/main.rs
  examples/multi_window/src/main.rs
  examples/todos/src/main.rs
  examples/websocket/src/echo.rs
  futures/src/backend/native/tokio.rs
  runtime/Cargo.toml
  runtime/src/task.rs
  src/lib.rs
Labels: feature, developer experience, addition

#2790 Set correct text size for preedit window
  core/src/input_method.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  winit/src/program/window_manager.rs
Labels: bug, text, widget, accessibility, fix

#2793 Fix the initial candidate window position
  core/src/input_method.rs
  core/src/shell.rs
  graphics/src/text/editor.rs
  runtime/src/user_interface.rs
  widget/src/scrollable.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  winit/src/program/window_manager.rs
Labels: bug, text, widget, accessibility, fix

#2806 Fix updating spans cache for pre-edit content in window manager
  winit/src/program/window_manager.rs
Labels: bug, text, performance, shell, fix

#2811 Tweak `Palette` Generation
  core/src/theme/palette.rs
  examples/styling/src/main.rs
  examples/todos/snapshots/creates_a_new_task.sha256
  widget/src/button.rs
  widget/src/checkbox.rs
  widget/src/container.rs
  widget/src/progress_bar.rs
  widget/src/slider.rs
  widget/src/text_input.rs
Labels: improvement, styling, change

#2812 `operation::focusable::is_focused` & `text_input::is_focused`
  core/src/widget/operation/focusable.rs
  widget/src/text_input.rs
Labels: feature, widget, addition
