Repository iced-rs/iced, pull requests merged in 2025-03, with the labels that each got.

#2827 Relax Task::perform from Fn to more general FnOnce
  runtime/src/task.rs
Labels: improvement, change

#2834 Update `cosmic-text` to `0.13`
  Cargo.lock
  Cargo.toml
  examples/todos/snapshots/creates_a_new_task.sha256
  graphics/src/text/editor.rs
  graphics/src/text/paragraph.rs
Labels: improvement, text, rendering, change

#2835 Fix horizontal text alignment
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/text/paragraph.rs
  core/src/widget/text.rs
  graphics/src/geometry/text.rs
  graphics/src/text.rs
  graphics/src/text/cache.rs
  graphics/src/text/editor.rs
  graphics/src/text/paragraph.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/text.rs
  wgpu/src/geometry.rs
  wgpu/src/lib.rs
  wgpu/src/text.rs
  widget/src/checkbox.rs
  widget/src/overlay/menu.rs
  widget/src/pick_list.rs
  widget/src/radio.rs
  widget/src/text/rich.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/toggler.rs
  winit/src/program/window_manager.rs
Labels: bug, text, widget, layout, rendering, fix

#2836 Introduce `text::Alignment` with `Justified` support
  Cargo.lock
  benches/wgpu.rs
  core/src/renderer/null.rs
  core/src/text.rs
  core/src/text/paragraph.rs
  core/src/widget/text.rs
  examples/clock/src/main.rs
  examples/color_palette/src/main.rs
  examples/game_of_life/src/main.rs
  examples/tour/Cargo.toml
  examples/tour/src/main.rs
  examples/vectorial_text/src/main.rs
  graphics/src/geometry/text.rs
  graphics/src/text.rs
  graphics/src/text/paragraph.rs
  tiny_skia/src/engine.rs
  tiny_skia/src/geometry.rs
  tiny_skia/src/layer.rs
  tiny_skia/src/text.rs
  wgpu/src/geometry.rs
  wgpu/src/layer.rs
  wgpu/src/lib.rs
  wgpu/src/text.rs
  widget/src/checkbox.rs
  widget/src/overlay/menu.rs
  widget/src/pick_list.rs
  widget/src/radio.rs
  widget/src/text/rich.rs
  widget/src/text_editor.rs
  widget/src/text_input.rs
  widget/src/toggler.rs
  winit/src/program/window_manager.rs
Labels: feature, text, widget, layout

#2845 request redraw on mouse area hover change
  widget/src/mouse_area.rs
Labels: bug, widget, fix

#2849 Notify `window` before presentation
  graphics/src/compositor.rs
  renderer/src/fallback.rs
  tiny_skia/src/window/compositor.rs
  wgpu/src/window/compositor.rs
  winit/src/program.rs
Labels: bug, rendering, shell, wgpu, fix

#2852 Allow custom vertical spacing for wrapped rows
  widget/src/row.rs
Labels: feature, widget, layout, addition

#2857 Headless Mode for `iced_wgpu` and Concurrency Foundations
  .github/workflows/test.yml
  benches/wgpu.rs
  core/src/renderer.rs
  examples/integration/src/main.rs
  examples/multi_window/src/main.rs
  examples/todos/snapshots/creates_a_new_task-tiny-skia.sha256
  examples/todos/snapshots/creates_a_new_task-wgpu.sha256
  graphics/src/compositor.rs
  renderer/src/compositor.rs
  renderer/src/fallback.rs
  renderer/src/lib.rs
  test/src/lib.rs
  tiny_skia/src/lib.rs
  tiny_skia/src/window/compositor.rs
  wgpu/src/engine.rs
  wgpu/src/image/mod.rs
  wgpu/src/lib.rs
  wgpu/src/primitive.rs
  wgpu/src/quad.rs
  wgpu/src/quad/gradient.rs
  wgpu/src/quad/solid.rs
  wgpu/src/text.rs
  wgpu/src/triangle.rs
  wgpu/src/triangle/msaa.rs
  wgpu/src/window/compositor.rs
  winit/src/program.rs
Labels: feature, rendering, shell, wgpu, addition
